<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="min-height: 100%; background-color: #f3f3f3 !important;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{MAIL_TITLE_DAILY_REPORT}}</title>
  </head>
  <body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; background-color: #f3f3f3 !important; margin: 0; padding: 0;" bgcolor="#f3f3f3 !important"><style type="text/css">
@media only screen and (max-width: 596px) {
  .small-float-center {
    margin: 0 auto !important; float: none !important; text-align: center !important;
  }
  .small-text-center {
    text-align: center !important;
  }
  .small-text-left {
    text-align: left !important;
  }
  .small-text-right {
    text-align: right !important;
  }
  .hide-for-large {
    display: block !important; width: auto !important; overflow: visible !important; max-height: none !important; font-size: inherit !important; line-height: inherit !important;
  }
  table.body table.container .hide-for-large {
    display: table !important; width: 100% !important;
  }
  table.body table.container .row.hide-for-large {
    display: table !important; width: 100% !important;
  }
  table.body table.container .callout-inner.hide-for-large {
    display: table-cell !important; width: 100% !important;
  }
  table.body table.container .show-for-large {
    display: none !important; width: 0; mso-hide: all; overflow: hidden;
  }
  table.body img {
    width: auto; height: auto;
  }
  table.body center {
    min-width: 0 !important;
  }
  table.body .container {
    width: 95% !important;
  }
  table.body .columns {
    height: auto !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 16px !important; padding-right: 16px !important;
  }
  table.body .column {
    height: auto !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 16px !important; padding-right: 16px !important;
  }
  table.body .columns .column {
    padding-left: 0 !important; padding-right: 0 !important;
  }
  table.body .columns .columns {
    padding-left: 0 !important; padding-right: 0 !important;
  }
  table.body .column .column {
    padding-left: 0 !important; padding-right: 0 !important;
  }
  table.body .column .columns {
    padding-left: 0 !important; padding-right: 0 !important;
  }
  table.body .collapse .columns {
    padding-left: 0 !important; padding-right: 0 !important;
  }
  table.body .collapse .column {
    padding-left: 0 !important; padding-right: 0 !important;
  }
  td.small-1 {
    display: inline-block !important; width: 8.33333% !important;
  }
  th.small-1 {
    display: inline-block !important; width: 8.33333% !important;
  }
  td.small-2 {
    display: inline-block !important; width: 16.66667% !important;
  }
  th.small-2 {
    display: inline-block !important; width: 16.66667% !important;
  }
  td.small-3 {
    display: inline-block !important; width: 25% !important;
  }
  th.small-3 {
    display: inline-block !important; width: 25% !important;
  }
  td.small-4 {
    display: inline-block !important; width: 33.33333% !important;
  }
  th.small-4 {
    display: inline-block !important; width: 33.33333% !important;
  }
  td.small-5 {
    display: inline-block !important; width: 41.66667% !important;
  }
  th.small-5 {
    display: inline-block !important; width: 41.66667% !important;
  }
  td.small-6 {
    display: inline-block !important; width: 50% !important;
  }
  th.small-6 {
    display: inline-block !important; width: 50% !important;
  }
  td.small-7 {
    display: inline-block !important; width: 58.33333% !important;
  }
  th.small-7 {
    display: inline-block !important; width: 58.33333% !important;
  }
  td.small-8 {
    display: inline-block !important; width: 66.66667% !important;
  }
  th.small-8 {
    display: inline-block !important; width: 66.66667% !important;
  }
  td.small-9 {
    display: inline-block !important; width: 75% !important;
  }
  th.small-9 {
    display: inline-block !important; width: 75% !important;
  }
  td.small-10 {
    display: inline-block !important; width: 83.33333% !important;
  }
  th.small-10 {
    display: inline-block !important; width: 83.33333% !important;
  }
  td.small-11 {
    display: inline-block !important; width: 91.66667% !important;
  }
  th.small-11 {
    display: inline-block !important; width: 91.66667% !important;
  }
  td.small-12 {
    display: inline-block !important; width: 100% !important;
  }
  th.small-12 {
    display: inline-block !important; width: 100% !important;
  }
  .columns td.small-12 {
    display: block !important; width: 100% !important;
  }
  .column td.small-12 {
    display: block !important; width: 100% !important;
  }
  .columns th.small-12 {
    display: block !important; width: 100% !important;
  }
  .column th.small-12 {
    display: block !important; width: 100% !important;
  }
  table.body td.small-offset-1 {
    margin-left: 8.33333% !important;
  }
  table.body th.small-offset-1 {
    margin-left: 8.33333% !important;
  }
  table.body td.small-offset-2 {
    margin-left: 16.66667% !important;
  }
  table.body th.small-offset-2 {
    margin-left: 16.66667% !important;
  }
  table.body td.small-offset-3 {
    margin-left: 25% !important;
  }
  table.body th.small-offset-3 {
    margin-left: 25% !important;
  }
  table.body td.small-offset-4 {
    margin-left: 33.33333% !important;
  }
  table.body th.small-offset-4 {
    margin-left: 33.33333% !important;
  }
  table.body td.small-offset-5 {
    margin-left: 41.66667% !important;
  }
  table.body th.small-offset-5 {
    margin-left: 41.66667% !important;
  }
  table.body td.small-offset-6 {
    margin-left: 50% !important;
  }
  table.body th.small-offset-6 {
    margin-left: 50% !important;
  }
  table.body td.small-offset-7 {
    margin-left: 58.33333% !important;
  }
  table.body th.small-offset-7 {
    margin-left: 58.33333% !important;
  }
  table.body td.small-offset-8 {
    margin-left: 66.66667% !important;
  }
  table.body th.small-offset-8 {
    margin-left: 66.66667% !important;
  }
  table.body td.small-offset-9 {
    margin-left: 75% !important;
  }
  table.body th.small-offset-9 {
    margin-left: 75% !important;
  }
  table.body td.small-offset-10 {
    margin-left: 83.33333% !important;
  }
  table.body th.small-offset-10 {
    margin-left: 83.33333% !important;
  }
  table.body td.small-offset-11 {
    margin-left: 91.66667% !important;
  }
  table.body th.small-offset-11 {
    margin-left: 91.66667% !important;
  }
  table.body table.columns td.expander {
    display: none !important;
  }
  table.body table.columns th.expander {
    display: none !important;
  }
  table.body .right-text-pad {
    padding-left: 10px !important;
  }
  table.body .text-pad-right {
    padding-left: 10px !important;
  }
  table.body .left-text-pad {
    padding-right: 10px !important;
  }
  table.body .text-pad-left {
    padding-right: 10px !important;
  }
  table.menu {
    width: 100% !important;
  }
  table.menu td {
    width: auto !important; display: inline-block !important;
  }
  table.menu th {
    width: auto !important; display: inline-block !important;
  }
  table.menu.vertical td {
    display: block !important;
  }
  table.menu.vertical th {
    display: block !important;
  }
  table.menu.small-vertical td {
    display: block !important;
  }
  table.menu.small-vertical th {
    display: block !important;
  }
  table.menu[align="center"] {
    width: auto !important;
  }
  table.button.small-expand {
    width: 100% !important;
  }
  table.button.small-expanded {
    width: 100% !important;
  }
  table.button.small-expand table {
    width: 100%;
  }
  table.button.small-expanded table {
    width: 100%;
  }
  table.button.small-expand table a {
    text-align: center !important; width: 100% !important; padding-left: 0 !important; padding-right: 0 !important;
  }
  table.button.small-expanded table a {
    text-align: center !important; width: 100% !important; padding-left: 0 !important; padding-right: 0 !important;
  }
  table.button.small-expand center {
    min-width: 0;
  }
  table.button.small-expanded center {
    min-width: 0;
  }
}
</style>
    <!-- <style> -->
    <table class="body" data-made-with-foundation="" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background-color: #f3f3f3 !important; height: 100%; width: 100%; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" bgcolor="#f3f3f3 !important"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="float-center" align="center" valign="top" style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; float: none; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0;">
                <center data-parsed="" style="width: 100%; min-width: 580px;">
                    <table class="spacer float-center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 100%; float: none; margin: 0 auto; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="16px" style="font-size: 16px; line-height: 16px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                            </tr></tbody></table><table align="center" class="container float-center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 580px; float: none; background: #fefefe; margin: 0 auto; padding: 0;" bgcolor="#fefefe"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; background: #3F51B5; padding: 0;" bgcolor="#3F51B5"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 15px;" align="left" valign="top">
                                                    <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #3F51B5; padding: 0;" bgcolor="#3F51B5"><tbody><tr row="2" style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="32px" style="font-size: 16px; color: #FFF; line-height: 16px; vertical-align: middle; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; text-align: left; mso-line-height-rule: exactly; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="middle"><img style="width: 100px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; clear: both; display: block;" src="http://www.custofeed.com/dist/images/mails/logo.png" alt="CustoFeed" /></td>
                                                            </tr></tbody></table></td>
                                                <td style="vertical-align: middle; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 15px;" align="left" valign="middle">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; background: #3F51B5; padding: 0;" bgcolor="#3F51B5"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="30px" style="font-size: 30px; color: #FFF; line-height: 30px; vertical-align: middle; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; text-align: left; mso-line-height-rule: exactly; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="middle"> PERFORMANCE ANALYZER </td>
                                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="24px" style="font-size: 24px; color: #F8F8F8; line-height: 24px; vertical-align: middle; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; text-align: left; mso-line-height-rule: exactly; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="middle"> Daily Report </td>
                                                            </tr></tbody></table></td>
                                            </tr></tbody></table><table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="16px" style="font-size: 16px; line-height: 16px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                            </tr></tbody></table><table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="small-12 large-12 columns first last" style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 16px 5px;" align="left" valign="top">A very good morning {{USER_FULL_NAME}}!
                                                    <h5 style="color: inherit; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-wrap: normal; font-size: 20px; margin: 0 0 10px; padding: 0;" align="left">{{DATE}}</h5> </td>
                                            </tr></tbody></table><table class="row" style="color: #FFFFFF; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; background: #00BCD4; padding: 0;" bgcolor="#00BCD4"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="30px" style="font-size: 30px; line-height: 30px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table></th>
                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-12 large-12 columns first last" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 16px 16px;" align="left">
                                                    <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                                <h5 class="text-center" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; word-wrap: normal; font-size: 20px; margin: 0 0 10px; padding: 0;" align="center">How much willing are your customers to comeback!</h5> </th>
                                                        </tr></table><table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-12 large-3 columns first text-center" style="color: #FFFFFF; width: 25%; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 0 16px;" align="center">
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 14px;">YESTERDAY</div>
                                                                <h1 class="text-center" style="font-weight: normal; font-size: 36px; line-height: 46px; text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; word-wrap: normal; margin: 0; padding: 0;" align="center">{{RET_SCORE_YESTERDAY}}</h1>
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 10px;"> CF STATISFACTION SCORE </div>
                                                            </th>
                                                            <th class="small-12 large-3 columns first text-center" style="color: #FFFFFF; width: 25%; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 0 16px;" align="center">
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 14px;">TODAY</div>
                                                                <h1 class="text-center" style="font-weight: normal; font-size: 36px; line-height: 46px; text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; word-wrap: normal; margin: 0; padding: 0;" align="center">{{RET_SCORE_TODAY}}</h1>
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 10px;"> CF STATISFACTION SCORE </div>
                                                            </th>
                                                            <th class="small-12 large-3 columns first text-center" style="color: #FFFFFF; width: 25%; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 0 16px;" align="center">
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 14px;">AVERAGE</div>
                                                                <h1 class="text-center" style="font-weight: normal; font-size: 36px; line-height: 46px; text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; word-wrap: normal; margin: 0; padding: 0;" align="center">{{RET_SCORE_AVG}}</h1>
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 10px;"> CF STATISFACTION SCORE </div>
                                                            </th>
                                                        </tr></table><table align="center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="text-center" style="text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="center">
                                                                <a target="_blank" href="http://www.custofeed.com/accounts/login/" style="color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><p class="text-center btn" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; display: inline-block; border-radius: 100px; text-transform: uppercase; background: #0097A7; margin: 0 0 10px; padding: 10px 25px;" align="center">GET HELP</p></a>
                                                            </th>
                                                        </tr></table></th>
                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="5px" style="font-size: 5px; line-height: 5px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table></th>
                                            </tr></tbody></table><table class="row" style="color: #FFFFFF; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; background: #0097A7; padding: 0;" bgcolor="#0097A7"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="30px" style="font-size: 30px; line-height: 30px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table></th>
                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-12 large-12 columns first last" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 16px 16px;" align="left">
                                                    <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                                <h5 class="text-center" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; word-wrap: normal; font-size: 20px; margin: 0 0 10px; padding: 0;" align="center">How much satisfied your customers are!</h5> </th>
                                                        </tr></table><table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-12 large-3 columns first text-center" style="color: #FFFFFF; width: 25%; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 0 16px;" align="center">
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 14px;">YESTERDAY</div>
                                                                <h1 class="text-center" style="font-weight: normal; font-size: 36px; line-height: 46px; text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; word-wrap: normal; margin: 0; padding: 0;" align="center">{{SAT_SCORE_YESTERDAY}}</h1>
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 10px;"> CF RETENTION SCORE </div>
                                                            </th>
                                                            <th class="small-12 large-3 columns first text-center" style="color: #FFFFFF; width: 25%; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 0 16px;" align="center">
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 14px;">TODAY</div>
                                                                <h1 class="text-center" style="font-weight: normal; font-size: 36px; line-height: 46px; text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; word-wrap: normal; margin: 0; padding: 0;" align="center">{{SAT_SCORE_TODAY}}</h1>
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 10px;"> CF RETENTION SCORE </div>
                                                            </th>
                                                            <th class="small-12 large-3 columns first text-center" style="color: #FFFFFF; width: 25%; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 0 16px;" align="center">
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 14px;">AVERAGE</div>
                                                                <h1 class="text-center" style="font-weight: normal; font-size: 36px; line-height: 46px; text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; word-wrap: normal; margin: 0; padding: 0;" align="center">{{SAT_SCORE_AVG}}</h1>
                                                                <div class="text-center" style="color: #FFFFFF; font-size: 10px;"> CF RETENTION SCORE </div>
                                                            </th>
                                                        </tr></table><table align="center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="text-center" style="text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="center">
                                                                <a target="_blank" href="http://www.custofeed.com/accounts/login/" style="color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><p class="text-center btn" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; display: inline-block; border-radius: 100px; text-transform: uppercase; background: #00BCD4; margin: 0 0 10px; padding: 10px 25px;" align="center">FIND OUT MORE</p></a>
                                                            </th>
                                                        </tr></table></th>
                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="5px" style="font-size: 5px; line-height: 5px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table></th>
                                            </tr></tbody></table><table class="row" style="color: #FFFFFF; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; background: #3F51B5; padding: 0;" bgcolor="#3F51B5"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="30px" style="font-size: 30px; line-height: 30px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table></th>
                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-12 large-12 columns first last" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 16px 16px;" align="left">
                                                    <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                                <h5 class="text-center" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; word-wrap: normal; font-size: 20px; margin: 0 0 10px; padding: 0;" align="center">How are your employees performing!</h5> </th>
                                                        </tr></table><table class="styled-table" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-12 large-3 columns first text-center" style="width: 25%; text-align: center; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; vertical-align: middle; background: #303F9F; margin: 0 auto; padding: 5px 0; border-color: #3f51b5; border-style: solid; border-width: 2px 4px 5px 2px;" align="center" bgcolor="#303F9F" valign="middle"> NAME </th>
                                                            <th class="small-12 large-3 columns first text-center" style="width: 25%; text-align: center; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; vertical-align: middle; background: #303F9F; margin: 0 auto; padding: 5px 0; border-color: #3f51b5; border-style: solid; border-width: 2px 2px 5px;" align="center" bgcolor="#303F9F" valign="middle"> NO. OF FEEDBACKS </th>
                                                            <th class="small-12 large-3 columns first text-center" style="width: 25%; text-align: center; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; vertical-align: middle; background: #303F9F; margin: 0 auto; padding: 5px 0; border-color: #3f51b5; border-style: solid; border-width: 2px 2px 5px;" align="center" bgcolor="#303F9F" valign="middle"> SCORE </th>
                                                        </tr>
                                                        {% for employee in EMPLOYEES %}
                                                        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="small-12 large-3 columns first text-center" style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: middle; text-align: center; width: 25%; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; background: #303F9F; margin: 0 auto; padding: 5px 0; border-color: #3f51b5; border-style: solid; border-width: 2px 4px 2px 2px;" align="center" bgcolor="#303F9F" valign="middle"> {{employee.name}} </td>
                                                            <td class="small-12 large-3 columns first text-center" style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: middle; text-align: center; width: 25%; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; background: #303F9F; margin: 0 auto; padding: 5px 0; border: 2px solid #3f51b5;" align="center" bgcolor="#303F9F" valign="middle"> {{employee.nb_feedbacks}} </td>
                                                            <td class="small-12 large-3 columns first text-center" style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: middle; text-align: center; width: 25%; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; background: #303F9F; margin: 0 auto; padding: 5px 0; border: 2px solid #3f51b5;" align="center" bgcolor="#303F9F" valign="middle"> {{employee.score}} </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </table><table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="16px" style="font-size: 16px; line-height: 16px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table><table align="center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="text-center" style="text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="center">
                                                                <a target="_blank" href="http://www.custofeed.com/dashboard/employees/" style="color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><p class="text-center btn" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; display: inline-block; border-radius: 100px; text-transform: uppercase; background: #303F9F; margin: 0 0 10px; padding: 10px 25px;" align="center">CHECK DETAILS</p></a>
                                                            </th>
                                                        </tr></table></th>
                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="5px" style="font-size: 5px; line-height: 5px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table></th>
                                            </tr></tbody></table><table class="row" style="color: #FFFFFF; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; background: #303F9F; padding: 0;" bgcolor="#303F9F"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="30px" style="font-size: 30px; line-height: 30px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table></th>
                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-12 large-12 columns first last" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 16px 16px;" align="left">
                                                    <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                                <h5 class="text-center" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; word-wrap: normal; font-size: 20px; margin: 0 0 10px; padding: 0;" align="center">Need a more detailed version?</h5> </th>
                                                        </tr></table><table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                                <h6 class="text-center" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; word-wrap: normal; font-size: 18px; margin: 0 0 10px; padding: 0;" align="center">Go checkout your dashboard!</h6> </th>
                                                        </tr></table><table align="center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="text-center" style="text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="center">
                                                                <a target="_blank" href="http://www.custofeed.com/" style="color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><p class="text-center btn" style="color: #FFFFFF; text-align: center; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; display: inline-block; border-radius: 100px; text-transform: uppercase; background: #3F51B5; margin: 0 0 10px; padding: 10px 25px;" align="center">DASHBOARD</p></a>
                                                            </th>
                                                        </tr></table></th>
                                            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                    <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="5px" style="font-size: 5px; line-height: 5px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                            </tr></tbody></table></th>
                                            </tr></tbody></table><table class="row collapsed footer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-12 large-12 columns first last" style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 16px 16px;" align="left">
                                                    <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                                <table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="16px" style="font-size: 16px; line-height: 16px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                                                        </tr></tbody></table><h4 class="text-center" style="text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; word-wrap: normal; font-size: 24px; margin: 0 0 10px; padding: 0;" align="center">Connect with us!</h4>
                                                                <center data-parsed="" style="width: 100%; min-width: 532px;">
                                                                    <table align="center" class="menu float-center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: auto !important; float: none; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                                                                                <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="menu-item float-center" style="float: none; text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 10px;" align="center">
                                                                                            <a href="{{SOCIAL_LINK_FACEBOOK}}" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><img src="http://www.custofeed.com/dist/images/mails/facebook.png" alt="CustoFeed Facebook" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; clear: both; display: block; border: none;" /></a>
                                                                                        </th>
                                                                                        <th class="menu-item float-center" style="float: none; text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 10px;" align="center">
                                                                                            <a href="{{SOCIAL_LINK_TWITTER}}" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><img src="http://www.custofeed.com/dist/images/mails/twitter.png" alt="CustoFeed Twitter" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; clear: both; display: block; border: none;" /></a>
                                                                                        </th>
                                                                                        <th class="menu-item float-center" style="float: none; text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 10px;" align="center">
                                                                                            <a href="{{SOCIAL_LINK_GOOGLE_PLUS}}" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><img src="http://www.custofeed.com/dist/images/mails/google-plus.png" alt="CustoFeed Google Plus" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; clear: both; display: block; border: none;" /></a>
                                                                                        </th>
                                                                                        <th class="menu-item float-center" style="float: none; text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 10px;" align="center">
                                                                                            <a href="{{SOCIAL_LINK_LINKEDIN}}" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><img src="http://www.custofeed.com/dist/images/mails/linkedin.png" alt="CustoFeed LinkedIn" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; clear: both; display: block; border: none;" /></a>
                                                                                        </th>
                                                                                        <th class="menu-item float-center" style="float: none; text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 10px;" align="center">
                                                                                            <a href="{{SOCIAL_LINK_PINTEREST}}" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;"><img src="http://www.custofeed.com/dist/images/mails/pinterest.png" alt="CustoFeed Pinterest" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; clear: both; display: block; border: none;" /></a>
                                                                                        </th>
                                                                                    </tr></table></td>
                                                                        </tr></table></center>
                                                                <h4 class="text-center" style="line-height: 24px; text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; font-weight: normal; word-wrap: normal; font-size: 24px; margin: 0; padding: 0;" align="center">CustoFeed</h4>
                                                                <h6 class="text-center" style="text-align: center; color: inherit; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; word-wrap: normal; font-size: 18px; margin: 0 0 10px; padding: 0;" align="center">Customer Feedback Analytics</h6>
                                                                <p class="text-center" style="text-align: center; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 0 10px; padding: 0;" align="center">@copywrite CustoFeed 2016-18
                                                                    <br /><a href="mailto:{{MAIL_LINK_CONTACT}}" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;">{{MAIL_LINK_CONTACT}}</a> | <a href="#" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;">Manage Email Notifications</a> | <a href="#" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;">Unsubscribe</a></p>
                                                            </th>
                                                            <th class="expander" style="visibility: hidden; width: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left"></th>
                                                        </tr></table></th>
                                            </tr></tbody></table><table class="spacer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td height="16px" style="font-size: 16px; line-height: 16px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
                                            </tr></tbody></table></td>
                            </tr></tbody></table></center>
            </td>
        </tr></table></body>
</html>
