{% extends "account/base.html" %}

{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center">{% trans "Sign Up" %}</h1>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
    </div>
    <div class="panel-body">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="text-center">
          <button class="btn btn-lg btn-primary" type="submit">{% trans "Sign Up" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
