{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center">Profile</h1>
    </div>
    <div class="panel-body text-center profile-panel">
      <div class="col-sm-12">
        <p>USERNAME</p>
        <h3>{{object.username}}</h3>
        <p>NAME</p>
        <h3>{{object.get_full_name}}</h3>
        <p>MOBILE</p>
        <h3>{{object.mobile}}</h3>
        <p>EMAIL</p>
        <h3>{{object.email}}</h3>
      </div>

      {% if object == request.user %}
      <!-- Action buttons -->
      <div class="col-sm-12 ">
        <a class="btn btn-primary" href="{% url 'users:update' %}">Edit</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
        <a class="btn btn-primary" href="{% url 'account_change_password'%}">Change Password</a>
        <!-- Your Stuff: Custom user template urls -->
      </div>
      <!-- End Action buttons -->
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

