{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center">{{ user.username }}</h1>
    </div>
    <div class="panel-body">
      <form method="post" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls text-center">
            <button type="submit" class="btn btn-lg btn-primary">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
