//COLORS ===========================
//Default
$brand-default-darkest: #0A0A0A;
$brand-default-darker: #1A1A1A;
$brand-default-dark: #2C2C2C;
$brand-default: #626262;
$brand-default-light: #E6E6E6;
$brand-default-lighter: #F0F0F0;
$brand-default-lightest: #FAFAFA;
//Primary
$brand-primary-darker: #413768;
$brand-primary-dark: #5B4D91;
$brand-primary: #6d5cae;
$brand-primary-light: #8A7DBE;
$brand-primary-lighter: #E2DEEF;
//Complete
$brand-complete-darker: #2B6A94;
$brand-complete-dark: #3C93CE;
$brand-complete: #48b0f7;
$brand-complete-light: #6DC0F9;
$brand-complete-lighter: #DAEFFD;
//Success
$brand-success-darker: #0A7C71;
$brand-success-dark: #0DAD9E;
$brand-success: #10cfbd;
$brand-success-light: #40D9CA;
$brand-success-lighter: #CFF5F2;
//Warning
$brand-warning-darker: #957D32;
$brand-warning-dark: #CFAE45;
$brand-warning: #f8d053;
$brand-warning-light: #F9D975;
$brand-warning-lighter: #FEF6DD;
//Danger
$brand-danger-darker: #933432;
$brand-danger-dark: #CD4945;
$brand-danger: #f55753;
$brand-danger-light: #F77975;
$brand-danger-lighter: #FDDDDD;
//Info
$brand-info-darker: #232B31;
$brand-info-dark: #313B44;
$brand-info: #3b4752;
$brand-info-light: #626C75;
$brand-info-lighter: #D8DADC;
//Menu
$brand-menu-dark: #191B1F;
$brand-menu: #2b303b;
$brand-menu-light: #646972;
//Social
$brand-social-facebook: #3b5998;
$brand-social-twitter: #1da1f2;
$brand-social-google: #dd4b39;
$brand-social-linkedin: #0077b5;
$brand-social-instagram: #c13584;
$brand-social-pinterest: #bd081c;