@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import '_colors';
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$navbar-height: 60px;
* {
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
    background-color: $brand-default-lighter;
    overflow-x: hidden;
    color: $brand-default;
}

body {
    padding-top: $navbar-height;
    padding-left: $navbar-height + 10px;
    padding-right: 10px;
}

a.clear-styles,
a.clear-styles:hover,
a.clear-styles:active {
    outline: 0;
    color: inherit;
    text-decoration: none;
}

.hr-margin {
    margin-top: 5px;
    margin-bottom: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.central-panel {
    min-width: 50vh;
}

.font-alt {
    font-family: 'Pacifico', cursive !important;
}

.text-light {
    color: lighten($brand-default, 40%);
}

.text-xl {
    font-size: 10vh;
}

.li-unstyled {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    li {
        list-style: none;
        line-height: 2em;
    }
}

.li-bordered {
    li {
        border-top: solid 1px rgba(255, 255, 255, 0.5);
    }
}

//LOADER ==================================
.loader {
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.spinner {
    z-index: 101;
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: $brand-primary;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

// BACKGROUND COLORS =============================
.bg-primary {
    background-color: $brand-primary !important;
    color: white !important;
    transition: background-color 0.25s;
    &:hover {
        background-color: $brand-primary-dark !important;
    }
}

.bg-success {
    background-color: $brand-success !important;
    color: white !important;
    transition: background-color 0.25s;
    &:hover {
        background-color: $brand-success-dark !important;
    }
}

.bg-warning {
    background-color: $brand-warning !important;
    color: white !important;
    transition: background-color 0.25s;
    &:hover {
        background-color: $brand-warning-dark !important;
    }
}

.bg-danger {
    background-color: $brand-danger !important;
    color: white !important;
    transition: background-color 0.25s;
    &:hover {
        background-color: $brand-danger-dark !important;
    }
}

.bg-info {
    background-color: $brand-info !important;
    color: white !important;
    transition: background-color 0.25s;
    &:hover {
        background-color: $brand-info-dark !important;
    }
}

.bg-complete {
    background-color: $brand-complete !important;
    color: white !important;
    transition: background-color 0.25s;
    &:hover {
        background-color: $brand-complete-dark !important;
    }
}

.bg-menu {
    background-color: $brand-menu !important;
    color: white !important;
    transition: background-color 0.25s;
    &:hover {
        background-color: $brand-menu-dark !important;
    }
}

//LABELS/BADGES =========================================
.label-default,
.badge-default {
    background-color: $brand-default-light;
    color: $brand-default;
}

.label-success,
.badge-success {
    background-color: $brand-success-light;
    color: white;
}

.label-danger,
.badge-danger {
    background-color: $brand-danger-light;
    color: white;
}

.label-warning,
.badge-warning {
    background-color: $brand-warning-light;
    color: white;
}

.label-premium {
    background: black;
    color: #FFD700;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 50px;
}

//TILES ==========================================
$tile-gutter: 1em;
$tile-padding: 1.5em;
$tile-base-height: 10vh;
.tile {
    border: 0;
    background-color: white;
    border-top: solid $tile-gutter $brand-default-lighter;
    padding: $tile-padding;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 0;
    }
    .pull-down {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: $tile-padding;
    }
    .tile-head {
        text-transform: uppercase;
        font-size: 0.8em;
    }
    .tile-title {
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.5em;
    }
    p {
        line-height: 2em;
        font-weight: 300;
        color: $brand-default-light !important;
    }
    .h1 {
        font-weight: 300;
        font-size: 5vh;
        color: rgba(255, 255, 255, 0.8);
        small {
            font-weight: 300;
            color: rgba(255, 255, 255, 0.8);
        }
    }
    .bg-icon {
        position: absolute;
        font-size: 20em;
        color: rgba(255, 255, 255, 0.2);
        z-index: 0;
        right: -10%;
    }
    &.no-padding {
        padding: 0;
        .content {
            padding: 0 1em !important;
        }
    }
}

@media (max-width: $screen-sm) {
    .tile {
        .bg-icon {
            display: none;
        }
        .pull-down {
            position: relative;
            padding: 0;
        }
    }
}

.ht1 {
    min-height: $tile-base-height;
}

.ht2 {
    min-height: $tile-base-height*2;
}

.ht3 {
    min-height: $tile-base-height*3;
}

.ht4 {
    min-height: $tile-base-height*4;
}

.ht5 {
    min-height: $tile-base-height*5;
}

.ht6 {
    min-height: $tile-base-height*6;
}

.ht7 {
    min-height: $tile-base-height*7;
}

.ht8 {
    min-height: $tile-base-height*8;
}

.ht9 {
    min-height: $tile-base-height*9;
}

.ht10 {
    min-height: $tile-base-height*10;
}

// GUTTER SPACE ===================================
.tile-grid {
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        div[class^="col"] {
            padding-left: $tile-gutter/2;
            padding-right: $tile-gutter/2;
        }
        .row {
            margin-left: -$tile-gutter/2;
            margin-right: -$tile-gutter/2;
        }
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        font-size: 12px;
        div[class^="col"] {
            padding-left: $tile-gutter/2;
            padding-right: $tile-gutter/2;
        }
        .row {
            margin-left: -$tile-gutter/2;
            margin-right: -$tile-gutter/2;
        }
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        font-size: 14px;
        /*default so you don't need this*/
        div[class^="col"] {
            padding-left: $tile-gutter/2;
            padding-right: $tile-gutter/2;
        }
        .row {
            margin-left: -$tile-gutter/2;
            margin-right: -$tile-gutter/2;
        }
    }
}

//NAVBAR ============================================
.navbar {
    border-bottom: solid 1px $brand-default-light;
    background-color: white;
    height: $navbar-height;
    font-size: 16px;
    li {
        line-height: $navbar-height;
        a {
            line-height: $navbar-height - 1;
            padding-top: 0;
            padding-bottom: 0;
        }
        &.active a {
            background-color: white !important;
        }
    }
    a {
        line-height: 60px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .dropdown {
        background-color: white;
    }
}

//SIDEBAR ============================================
.sidebar-toggle {
    display: none;
}

#sidebarToggle {
    display: none;
}

.sidebar {
    padding-top: $navbar-height;
    background: $brand-default-dark;
    border-right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: $navbar-height;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s ease-out;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    ul,
    li {
        outline: 0;
        margin: 0;
        padding: 0;
    }
    .fa-2x {
        font-size: 2em;
    }
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
    }
    &>ul {
        margin: 7px 0;
    }
    .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }
    .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 190px;
        font-family: 'Titillium Web', sans-serif;
    }
    a:hover {
        color: #fff;
    }
    li {
        position: relative;
        display: block;
        width: 250px;
        &>a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: #999;
            font-family: arial;
            font-size: 14px;
            text-decoration: none;
            -webkit-transform: translateZ(0) scale(1, 1);
            -webkit-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }
    }
    &>ul.bottom {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.sidebar:hover,
nav.sidebar.expanded {
    width: 250px;
    overflow: visible;
}

@media (max-width: $screen-sm) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar-toggle {
        display: block;
        position: absolute;
        top: $navbar-height - 5px;
        left: - 5px;
        font-size: 1.5em;
        line-height: 1.5em;
        text-align: center;
        background-color: white;
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        padding: 0;
        margin: 0;
        color: $brand-default;
        -webkit-transition: left .2s linear;
        transition: left .2s ease-out;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1050;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    .sidebar {
        width: 0;
    }
    #sidebarToggle:checked + .sidebar {
        width: 250px;
        overflow: visible;
    }
}

//NEWSTRICKER ================================
ul.news-tricker {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 20px 0;
        border-bottom: solid 1px $brand-default-light;
    }
}

//CHART ======================================
.nvtooltip {
    margin: 0px;
    border-radius: 0;
    border: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    table td.legend-color-guide div {
        border-radius: 50%;
        border: 0;
    }
}

@media (max-width: $screen-sm) {
    .chart-toggle {
        padding: 0.5em 1em !important;
        margin: 0.5em !important;
        font-size: 0.7em;
    }
}

//FORMS ======================================
.form-hori {
    display: inline-block;
}

.form-group {
    background-color: white;
    min-height: 55px;
    border: solid 1px $brand-default-light;
    padding: 7px 12px 4px 12px;
    margin: 0;
    margin-bottom: 20px;
    transition: background-color 0.25s;
    label {
        text-transform: uppercase;
        color: $brand-default-dark;
        font-size: 11px;
        margin: 0;
        transition: color 0.25s;
    }
    .form-control {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
        margin-top: -3px;
        font-size: 14px;
        line-height: 20px;
        height: 20px;
        outline: 0;
    }
    textarea.form-control {
        min-height: 70px;
    }
    &.focused {
        background-color: $brand-default-light;
        label {
            color: lighten($brand-default, 20%);
        }
    }
    select {
        overflow: hidden;
        appearance: none;
    }
    .help-block {
        padding-top: 5px;
    }
}

.form-wrapper {
    border: solid 1px $brand-default-light;
    padding: 10px;
}

//FORM WIZARD ==============================
.form-wizard {
    .carousel-indicators {
        display: block;
        margin-top: 2em;
        position: relative;
        li {
            background-color: $brand-primary;
            border: 0;
            transition: all 0.25s;
            vertical-align: middle;
            width: 2em;
            &.active {
                border: 0;
                background-color: $brand-primary-darker;
            }
        }
    }
}

//PANELS ===================================
.panel {
    border-radius: 0;
    box-shadow: none;
    margin: 1em 0;
    .panel-heading {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        a {
            text-decoration: inherit;
            &:hover {
                text-decoration: inherit;
            }
        }
        .panel-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            display: inline-block;
        }
        .panel-controls {
            display: inline-block;
            text-align: right;
            float: right;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    margin: 0;
                    padding: 0 5px;
                    display: inline-block;
                }
            }
            a,
            button {
                transition: color 0.25s;
                color: $brand-default-light;
                &:hover {
                    color: $brand-default;
                }
            }
        }
    }
    .panel-body {
        border: 0 !important;
    }
    .panel-footer {
        background-color: white !important;
    }
}

.panel-group {
    .panel {
        border-radius: 0;
        .panel-body {
            border: 0;
        }
    }
}

//BUTTONS ====================================
.btn,
.dt-button {
    border: 0;
    transition: background-color 0.25s;
    padding: 10px 30px;
    margin: 5px;
}

.btn-clear {
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    background-color: inherit;
}

.btn-xs {
    margin: 0 5px;
    padding: 5px 10px;
}

@mixin btn-style($color) {
    color: white;
    background-color: $color;
    &:hover {
        background-color: lighten($color, 10%);
    }
}

.btn-default {
    @include btn-style($brand-default-light);
    color: $brand-default;
    &:hover {
        background-color: darken($brand-default-light, 10%);
    }
}

.btn-primary,
.dt-button {
    @include btn-style($brand-primary)
}

.btn-complete {
    @include btn-style($brand-complete)
}

.btn-success {
    @include btn-style($brand-success)
}

.btn-warning {
    @include btn-style($brand-warning)
}

.btn-danger {
    @include btn-style($brand-danger)
}

.btn-info {
    @include btn-style($brand-info)
}

.btn-menu {
    @include btn-style($brand-menu)
}

.btn-round {
    border-radius: 1.5em;
}

//SOCIAL BUTTONS
.btn.socialaccount_provider.facebook {
    @include btn-style($brand-social-facebook);
}

.btn.socialaccount_provider.twitter {
    @include btn-style($brand-social-twitter);
}

.btn.socialaccount_provider.twitter {
    @include btn-style($brand-social-twitter);
}

.btn.socialaccount_provider.google {
    @include btn-style($brand-social-google);
}

.btn.socialaccount_provider.linkedin {
    @include btn-style($brand-social-linkedin);
}

.btn.socialaccount_provider.instagram {
    @include btn-style($brand-social-instagram);
}

.btn.socialaccount_provider.pinterest {
    @include btn-style($brand-social-pinterest);
}

//BUTTON GROUPS =============================
@mixin btn-group($color) {
    margin-right: 0;
    &:first-child {
        border-right: solid 2px darken($color, 10%);
    }
    &:last-child {
        border-left: solid 1px darken($color, 10%);
        margin-right: 5px;
    }
}

.btn-group {
    .btn-default {
        @include btn-group($brand-default-light)
    }
}

.btn-group {
    .btn-primary {
        @include btn-group($brand-primary)
    }
}

.btn-group {
    .btn-complete {
        @include btn-group($brand-complete)
    }
}

.btn-group {
    .btn-success {
        @include btn-group($brand-success)
    }
}

.btn-group {
    .btn-warning {
        @include btn-group($brand-warning)
    }
}

.btn-group {
    .btn-danger {
        @include btn-group($brand-danger)
    }
}

.btn-group {
    .btn-menu {
        @include btn-group($brand-menu)
    }
}

.btn-group {
    .btn-info {
        @include btn-group($brand-info)
    }
}

//MODALS ====================================
.modal {
    .modal-dialog {
        .modal-content {
            border-radius: 0;
            .modal-header {}
            .modal-body {}
            .modal-footer {}
        }
    }
}

//PROGRESS BAR ==============================
.progress {
    border-radius: 0;
    background-color: rgba(98, 98, 98, 0.2);
    height: 4px;
    .progress-bar {
        background-color: $brand-default;
    }
}

@mixin progress-style($color) {
    .progress-bar {
        background-color: $color;
    }
}

.progress-primary {
    @include progress-style($brand-primary)
}

.progress-complete {
    @include progress-style($brand-complete)
}

.progress-success {
    @include progress-style($brand-success)
}

.progress-warning {
    @include progress-style($brand-warning)
}

.progress-danger {
    @include progress-style($brand-danger)
}

.progress-info {
    @include progress-style($brand-info)
}

.progress-menu {
    @include progress-style($brand-menu)
}

//ALERTS =================================
.alert {
    border-radius: 0;
    border: 0;
}

//PAGINATION =============================
.pagination {
    color: $brand-primary;
    li a {
        color: $brand-primary
    }
    li.active a {
        background-color: $brand-primary;
        border: solid 1px $brand-primary;
        &:hover {
            background-color: $brand-primary-dark;
        }
    }
}

//TABS ===================================
ul.nav-tabs {
    border-radius: 0;
    text-transform: uppercase;
    margin-bottom: 1em;
    a {
        color: inherit;
        transition: border 0.25s;
    }
    li,
    li.active {
        border: 0;
        background-color: inherit;
        color: inherit;
    }
    li.active a {
        border: 0 !important;
        border-bottom: solid 3px $brand-danger !important;
        &:hover,
        &:active {
            border: 0 !important;
            border-bottom: solid 3px $brand-danger !important;
        }
    }
    li a {
        background-color: inherit;
        &:hover {
            border: 0;
            border-bottom: solid 3px $brand-danger;
            background-color: inherit;
        }
    }
}

//NOTIFICATIONS ============================
.noti {
    z-index: 200;
    position: absolute;
    top: $navbar-height;
    right: 0;
    background-color: $brand-success-light;
    padding: 1em;
    margin: 1em;
    min-width: 10vw;
    text-align: center;
    color: white;
    border-radius: 10px;
    animation: fadeOut 2s linear 1;
    animation-fill-mode: forwards;
}

.noti-danger,
.noti-error {
    background-color: $brand-danger-light;
}

.noti-warning,
.noti-info {
    background-color: $brand-warning-light;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        top: $navbar-height + 10;
    }
    10% {
        opacity: 1;
        top: $navbar-height;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

//SNACKBARS ============================
.snackbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    font-size: 1.5em;
    color: #FFF;
    padding: 0.5em 1em;
    text-align: center;
}

//QUESTIONS ================================
.question-wrapper {
    vertical-align: middle;
}

.question-list {
    list-style: none;
    padding: 0;
    > li {
        display: block;
        padding: 1em;
        label {
            vertical-align: middle;
            padding: 1em;
            margin-left: 1em;
            border-radius: 1em;
            background-color: $brand-default-light;
        }
        .options {
            margin-top: 10px;
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                margin: 0 5px;
                padding: 5px 10px;
                border-radius: 1em;
                background-color: $brand-default;
                color: white;
                &.active {
                    background-color: $brand-complete;
                }
            }
        }
    }
}

// STAR RATING
// -----------------------------------
.feedback_form {
    .question_title {
        font-size: 20px;
        line-height: 20px;
    }
    .star-rating {
        input[type="radio"] {
            display: none;
        }
        label {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 30px;
            border: solid 2px black;
            font-size: 16px;
            cursor: pointer;
        }
        input[type="radio"]:checked + label {
            background-color: $brand-primary;
            color: white;
            border-color: $brand-primary-darker;
        }
    }
}

//DATA TABLES
// -----------------------------------
.dt-buttons {
    height: auto;
    display: block;
    margin: 20px;
}

.dt-button {
    border-radius: 3px;
}

tr.selected {
    background-color: $brand-primary-lighter;
}