@import '_components';
.top-comments {
    .name {
        font-size: 1.5em;
        font-weight: 300;
        padding-bottom: 10px;
    }
    p {
        font-weight: 400;
        color: $brand-default !important;
        line-height: 1em;
    }
}

.profile-panel {
    p {
        margin-bottom: 0;
    }
    h3 {
        margin-top: 0;
    }
}

//COMING SOON ------
.coming-soon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 5;
    text-align: center;
    .content {
        top: 50%;
        transform: translateY(100%);
    }
}