{% extends "base.html" %}
{% load staticfiles i18n compress %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
{% block dropmenu %}
<li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
{% endblock dropmenu %}
{% block sidebar %}
  <nav class="sidebar">
    <ul>
      <li>
        <a href="{% url 'staff:staff_dashboard' %}">
          <i class="fa fa-dashboard fa-2x"></i>
          <span class="nav-text">{% trans "Dashboard" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'staff:staff_users' %}">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">{% trans "Users" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'staff:staff_recharge' %}">
          <i class="fa fa-inr fa-2x"></i>
          <span class="nav-text">{% trans "Recharge" %}</span>
        </a>
      </li>
    </ul>
    <ul class="bottom">
      <li>
        <a href="{% url 'account_logout' %}">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> {% trans "Sign out" %} </span>
        </a>
      </li>
    </ul>
  </nav>
  {% endblock sidebar %}
