{% extends "staff/base.html" %}
{% load staticfiles i18n compress humanize %}

{% block title %}{% trans "Dashboard" %}{% endblock title %}

{% block content %}
<div class="col-xs-12">
  <div class="text-center">
    <form action="{% url 'staff:staff_dashboard' %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-lg" name="submit" value="send_daily_report">SEND DAILY REPORT
      </button>
    </form>
  </div>
</div>
<div class="tile-grid">
  <div class="col-md-4">
    <a href="{% url 'dashboard:b2b_feedbacks' %}" class="clear-styles">
      <div class="tile ht4 bg-success">
        <div class="tile-head">TOTAL CLIENTS
          <div class="pull-right"><i class="fa fa-user-secret"></i></div>
        </div>
        <div class="pull-down">
          <div class="h1">
            {{nb_companies_total|intcomma}}
          </div>
          <div class="col-xs-4">
            <div class="tile-title">{{nb_companies_today|intcomma}}</div>
            TODAY
          </div>
          <div class="col-xs-4 text-center">
            <div class="tile-title">{{nb_companies_week|intcomma}}</div>
            THIS WEEK
          </div>
          <div class="col-xs-4 text-right">
            <div class="tile-title">{{nb_companies_month|intcomma}}</div>
            THIS MONTH
          </div>
          <div class="col-xs-4 text-left">
            <div class="tile-title">{{nb_companies_yesterday|intcomma}}</div>
            YESTERDAY
          </div>
        </div>
        <div class="bg-icon"><i class="fa fa-user-secret"></i></div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="{% url 'dashboard:b2b_feedbacks' %}" class="clear-styles">
      <div class="tile ht4 bg-primary">
        <div class="tile-head">TOTAL FEEDBACKS
          <div class="pull-right"><i class="fa fa-list"></i></div>
        </div>
        <div class="pull-down">
          <div class="h1">
            {{nb_feedbacks_total|intcomma}}
          </div>
          <div class="col-xs-4">
            <div class="tile-title">{{nb_feedbacks_today|intcomma}}</div>
            TODAY
          </div>
          <div class="col-xs-4 text-center">
            <div class="tile-title">{{nb_feedbacks_week|intcomma}}</div>
            THIS WEEK
          </div>
          <div class="col-xs-4 text-right">
            <div class="tile-title">{{nb_feedbacks_month|intcomma}}</div>
            THIS MONTH
          </div>
          <div class="col-xs-4">
            <div class="tile-title">{{nb_feedbacks_yesterday|intcomma}}</div>
            YESTERDAY
          </div>
        </div>
        <div class="bg-icon"><i class="fa fa-list"></i></div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="{% url 'dashboard:b2b_feedbacks' %}" class="clear-styles">
      <div class="tile ht4 bg-complete">
        <div class="tile-head">TOTAL CUSTOMERS
          <div class="pull-right"><i class="fa fa-users"></i></div>
        </div>
        <div class="pull-down">
          <div class="h1">
            {{nb_feedbackers_total|intcomma}}
          </div>
          <div class="col-xs-4">
            <div class="tile-title">{{nb_feedbackers_today|intcomma}}</div>
            TODAY
          </div>
          <div class="col-xs-4 text-center">
            <div class="tile-title">{{nb_feedbackers_week|intcomma}}</div>
            THIS WEEK
          </div>
          <div class="col-xs-4 text-right">
            <div class="tile-title">{{nb_feedbackers_month|intcomma}}</div>
            THIS MONTH
          </div>
          <div class="col-xs-4 text-left">
            <div class="tile-title">{{nb_feedbackers_yesterday|intcomma}}</div>
            YESTERDAY
          </div>
        </div>
        <div class="bg-icon"><i class="fa fa-users"></i></div>
      </div>
    </a>
  </div>
</div>
{% endblock content %}
