{% extends "staff/base.html" %}
{% load staticfiles i18n compress crispy_forms_tags %}

{% block title %}Recharge{% endblock %}

{% block content %}
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addCreditBalance">
    <i class="fa fa-plus"></i> ADD CREDIT BALANCE
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">STORE CREDIT BALANCES</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
          <tr>
            <th>STORE</th>
            <th>BALANCE</th>
            <th>RECHARGE</th>
            <th>ACTIVE</th>
            <th>EDIT</th>
          </tr>
          </thead>
          <tbody>
          {% for credit_balance in credit_balances %}
          <tr>
            <td>{{credit_balance.store}}</td>
            <td>{{credit_balance.balance}}</td>
            <td>
              <div class="btn btn-primary btn-xs recharge" data-toggle="modal" data-id="{{credit_balance.pk}}"
                   data-target="#rechargeModal">
                RECHARGE
              </div>
            </td>
            <td>
              {% if credit_balance.active %}
              <form action="{% url 'dashboard:b2b_activate' %}?from={{request.path}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="credit_balance">
                <input type="hidden" name="pk" value="{{credit_balance.pk}}">
                <input class="btn btn-danger btn-xs" type="submit" name="submit" value="DEACTIVATE">
              </form>
              {% else %}
              <form action="{% url 'dashboard:b2b_activate' %}?from={{request.path}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="credit_balance">
                <input type="hidden" name="pk" value="{{credit_balance.pk}}">
                <input class="btn btn-success btn-xs" type="submit" name="submit" value="ACTIVATE">
              </form>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'dashboard:b2b_edit' 'credit-balance' credit_balance.pk %}?from={{request.path}}" title="Edit"
                 class="btn btn-info btn-xs">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">RECHARGES BY YOU</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>STORE</th>
            <th>AMOUNT</th>
            <th>TIMESTAMP</th>
          </tr>
          </thead>
          <tbody>
          {% for recharge in recharges %}
          <tr>
            <td>{{recharge.credit_balance.store}}</td>
            <td>{{recharge.amount}}</td>
            <td>{{recharge.created}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addCreditBalance" tabindex="-1" role="dialog" aria-labelledby="addCreditBalanceLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addCreditBalanceLabel">ADD CREDIT BALANCE</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
            <button type="submit" name="submit" value="add_credit_balance" class="btn btn-primary">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rechargeModal" tabindex="-1" role="dialog" aria-labelledby="rechargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="rechargeModalLabel">RECHARGE</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ recharge_form|crispy }}
          <div class="text-center">
            <button type="submit" name="submit" value="recharge" class="btn btn-primary">RECHARGE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
<script>
  $('.recharge').click(function() {
    $('#id_credit_balance').val($(this).data('id'));
  });
</script>
{% endblock javascript %}

