{% extends "staff/base.html" %}
{% load staticfiles i18n compress %}

{% block title %}{% trans "Dashboard" %}{% endblock title %}

{% block content %}
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addUserModal">
    <i class="fa fa-plus"></i> ADD USER
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <div class="panel-title"><h1>USERS</h1></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>USERNAME</th>
            <th>FULL NAME</th>
            <th>STATUS</th>
            <th>EMULATE</th>
          </tr>
          </thead>
          <tbody>
          {% for user_account in user_accounts %}
          <tr>
            <td>{{user_account.user}}</td>
            <td>{{user_account.user.get_full_name}}</td>
            <td>
              <form class="login" method="POST" action="{% url 'staff:staff_users' %}">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{user_account.user.username}}">
                {% if user_account.active %}
                <input type="submit" class="btn btn-sm btn-danger" name="submit" value="{% trans 'DEACTIVATE' %}">
                {% else %}
                <input type="submit" class="btn btn-sm btn-success" name="submit" value="{% trans 'ACTIVATE' %}">
                {% endif %}
              </form>
            </td>
            <td>
              <form class="login" method="POST" action="{% url 'staff:staff_users' %}">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{user_account.user.username}}">
                <input type="submit" class="btn btn-sm btn-primary" name="submit" value="{% trans 'SIMULATE' %}">
              </form>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addUserModalLabel">ADD USER</h4>
      </div>
      <form action="{% url 'staff:staff_users' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <b>USER DETAILS</b>
          <hr class="hr-margin">
          <div class="clearfix"></div>
          <div class="form-group">
            <label for="username">USERNAME*</label>
            <input type="text" maxlength="254" class="form-control" name="username" id="username" placeholder=""
                   required>
          </div>
          <div class="form-group">
            <label for="username">PASSWORD*</label>
            <input type="password" maxlength="254" class="form-control" name="password" id="password" placeholder=""
                   required>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="first_name">FIRST NAME*</label>
                <input type="text" maxlength="255" class="form-control" name="first_name"
                       id="first_name"
                       placeholder="" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="last_name">LAST NAME*</label>
                <input type="text" maxlength="255" class="form-control" name="last_name" id="last_name"
                       placeholder="" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="mobile">MOBILE*</label>
            <input type="text" maxlength="10" pattern="^[789]\d{9}$" class="form-control" name="mobile"
                   id="mobile" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="email">EMAIL*</label>
            <input type="email" maxlength="254" class="form-control" name="email" id="email" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="job_title">JOB TITLE*</label>
            <input type="text" maxlength="255" class="form-control" name="job_title"
                   id="job_title"
                   placeholder="" required>
          </div>
          <b>COMPANY DETAILS</b>
          <hr class="hr-margin">
          <div class="clearfix"></div>
          <div class="form-group">
            <label for="company_name">COMPANY NAME*</label>
            <input type="text" maxlength="255" class="form-control" name="company_name"
                   id="company_name"
                   placeholder="" required>
          </div>
          <div class="form-group">
            <label for="sector">SECTOR*</label>
            <select name="sector" id="sector" class="form-control" required>
              {% for sector in sectors %}
              <option value="{{sector.pk}}">{{sector.name}}</option>
              {% endfor %}
            </select>
          </div>
          <b>STORE DETAILS</b>
          <hr class="hr-margin">
          <div class="clearfix"></div>
          <div class="form-group">
            <label for="store_name">STORE NAME*</label>
            <input type="text" maxlength="255" class="form-control" name="store_name"
                   id="store_name"
                   placeholder="" required>
          </div>
          <div class="form-group">
            <label for="store_email">STORE EMAIL*</label>
            <input type="email" maxlength="254" class="form-control" name="store_email" id="store_email" placeholder=""
                   required>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" name="submit" value="register_user">
              REGISTER
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock modal %}
