{% load staticfiles i18n compress %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}CustoFeed{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block css %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  {% compress css %}
  <!-- This file store project specific CSS -->
  <link rel="stylesheet" href="{% static 'css/pages/style.min.css' %}">
  {% endcompress %}
  {% endblock %}
</head>

<body>
<header id="main-nav">
  <div class="container"><a id="navigation" href="{% url 'home' %}#"><i class="fa fa-bars"></i></a>
    <div id="slide_out_menu"><a href="{% url 'home' %}#" class="menu-close"><i class="fa fa-times"></i></a>
      <div class="logo">
        <a href="{% url 'home' %}"><img src="{% static 'images/pages/logo-white.png' %}" alt="CustoFeed Logo White"></a>
      </div>
      <ul> {% if request.user.is_authenticated %}
        <li><a href="{% url 'dashboard:b2b_dashboard'  %}">{% trans "Dashboard" %}</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
        {% endif %}
        <li><a href="{% url 'home' %}#about">About Us</a></li>
        <li><a href="{% url 'home' %}#features">Features</a></li>
        <li><a href="{% url 'home' %}#tech">Tour</a></li>
        <li><a href="{% url 'home' %}#subscribe" class="btn btn-green"><i class="fa fa-android"></i> Try Demo</a></li>
        <li><a href="{% url 'home' %}#" class="btn btn-blue"><i class="fa fa-android"></i> Get App</a></li>
      </ul>
      <div class="slide_out_menu_footer">
        <ul class="socials">
          <li><a href="{% url 'home' %}#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="{% url 'home' %}#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="{% url 'home' %}#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="{% url 'home' %}#"><i class="fa fa-tumblr"></i></a></li>
          <li><a href="{% url 'home' %}#"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a href="{% url 'home' %}#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <ul class="left">
          <li><a href="{% url 'home' %}#about">About Us</a></li>
          <li><a href="{% url 'home' %}#features">Features</a></li>
          <li><a href="{% url 'home' %}#tech">Tour</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <a href="{% url 'home' %}#" class="logo"><img src="{% static 'images/pages/logo-white.png' %}" alt="CustoFeed"></a>
      </div>
      <div class="col-md-4">
        <ul class="right">
          <li><a href="{% url 'home' %}#" class="btn btn-blue"><i class="fa fa-android"></i> Get App</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'dashboard:b2b_dashboard'  %}">{% trans "Dashboard" %}</a></li>
          {% else %}
          <li><a href="{% url 'home' %}#subscribe" class="btn btn-green">Try Demo</a></li>
          <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="noti {% if message.tags %}noti-{{ message.tags }}{% endif %}">{{ message }}</div>
  {% endfor %}
  {% endif %}
</div>
{% block content %}{% endblock content %} {% block modal %}{% endblock modal %}
<!-- JS FILES  -->{% block javascript %}
<!-- Latest JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/3412f77613.js"></script>
<!-- place project specific Javascript in this file -->{% compress js %}
<script src="{% static 'js/pages/wow.min.js' %}"></script>
<script src="{% static 'js/pages/script.min.js' %}"></script>
{% endcompress %}
{% endblock javascript %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80286097-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
