{% extends 'pages/base.html' %} {% block content %} {% load staticfiles i18n compress %}
<section id="header" style="background-image:url('{% static 'images/pages/bg.jpg' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="wow fadeInUp">Customer Feedback Analytics</h1>
        <p class="wow fadeInUp" data-wow-delay=".2s">Connecting you with your customer</p>
        <a href="#features" class="btn btn-lg btn-green video-btn wow fadeInUp" data-wow-delay=".3s"> <span
          class="fa-stack fa-lg">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span> BOOST YOUR BUSINESS </a>
      </div>
      <!-- //iPhone -->
    </div>
  </div>
</section>
<!-- //Header -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <h2>
          About Us
        </h2>
        <p> We are a company driven with the <i class="fa fa-heart"></i> for making your business succesfull.
          <br>
          <br> We provide a customer retention software which will help you keep your customer happy and grow your
          business.</p>
        <div class="btns-container"><a href="#subscribe" class="btn btn-green">Ask for a demo <i
          class="fa fa-arrow-right"></i></a> <a href="#" class="btn btn-blue">Download App</a></div>
      </div>
      <div class="dashboard-showcase wow fadeInLeft">
        <div class="device"><img src="{% static 'images/pages/macbook.png' %}" alt=""></div>
      </div>
      <!-- //iPhone Showcase -->
    </div>
  </div>
</section>
<!-- //iPhone Feature -->
<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-6 feature-item">
        <div class="feature wow fadeInUp">
          <div class="f-icon"><i class="lnr lnr-chart-bars"></i></div>
          <div class="f-description">
            <h4>Real-Time Analytics</h4>
            <p>Our highly robhust back-end tech gives you real-time analytics of your customer feedbacks and provides
              methods to react to those feedbacks instantly.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 feature-item">
        <div class="feature wow fadeInUp" data-wow-delay=".1s">
          <div class="f-icon"><i class="lnr lnr-smile"></i></div>
          <div class="f-description">
            <h4>Customized Feedbacks</h4>
            <p>We provide a fully customizable feedback system which will help to know specific details of your
              customer.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 feature-item">
        <div class="feature wow fadeInUp" data-wow-delay=".1s">
          <div class="f-icon"><i class="lnr lnr-star"></i></div>
          <div class="f-description">
            <h4>Employee Performance Analyser</h4>
            <p>Anayse your employee performance and improve your efficiency day by day.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 feature-item">
        <div class="feature wow fadeInUp" data-wow-delay=".1s">
          <div class="f-icon"><i class="lnr lnr-magic-wand"></i></div>
          <div class="f-description">
            <h4>Boost Your Business</h4>
            <p>Your state of the art tech analyses the performance of your business and provide you with the best
              suggestions to improve your business.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Features -->
<section id="tech">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>State of the Art Analysers</h2>
        <p> Our system analyses your feedbacks anf provides you with a curated list of suggestions which would <b>Boost
          Your Business</b> in a stipulated amount of time.
          <br>
          <br> We have implemented machine learning and data analytics at its best and have provided you with on on the
          best tech possible.</p>
      </div>
      <div class="map-showcase wow fadeInRight">
        <div class="map"><img src="{% static 'images/pages/map.png' %}" alt=""></div>
      </div>
      <!-- //Map Showcase -->
    </div>
  </div>
</section>
<!-- //Map Feature -->
<section id="iphone-screens">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Beautiful Interface</h2>
        <hr>
        <p class="subtitle">Landing Screen</p>
      </div>
    </div>
  </div>
  <div class="images-showcase wow fadeIn">
    <ul class="images-list">
      <li><img src="{% static 'images/pages/interface/app-1.png' %}" alt=""></li>
      <li><img src="{% static 'images/pages/interface/app-2.png' %}" alt=""></li>
      <li class="main-img"><img src="{% static 'images/pages/interface/app-0.png' %}" alt=""></li>
      <li><img src="{% static 'images/pages/interface/app-3.png' %}" alt=""></li>
      <li><img src="{% static 'images/pages/interface/app-4.png' %}" alt=""></li>
    </ul>
  </div>
</section>
<!-- //iPhone Screens -->
<section id="ready-to-buy">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="subtitle">Custo<span class="f-w-400">Feed</span></p>
        <h2>Get it to your smartphone</h2>
        <form action="">
          <div class="form-group">
            <input type="email" placeholder="Email here"> <a href="#" class="btn btn-green">Send Invite <i
            class="fa fa-arrow-right"></i></a></div>
        </form>
        <p class="subtitle">you can also</p>
        <a href="#"><img src="{% static 'images/pages/app-store-download.png' %}" alt=""></a>
      </div>
    </div>
  </div>
</section>
<!-- //Ready to Buy -->
<section id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="subtitle"></p>
        <h2>Ask for a demo</h2>
        <form action="">
          <div class="form-group">
            <input type="email" placeholder="Email here"> <a href="#" class="btn btn-green">Send</a></div>
        </form>
        <p class="promise">Lets get started!</p>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- //Subscribe -->
<footer id="footer">
  <div class="container footer-container">
    <div class="row">
      <div class="col-md-3"><img class="logo" src="{% static 'images/pages/logo.png' %}" alt="">
        <p>Know your customer</p>
        <a href="#" class="app_download"><img src="{% static 'images/pages/app-store-download.png' %}" alt=""></a>
        <ul class="socials">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-md-offset-3 col-sm-4 col-xs-6 footer-links">
        <ul>
          <li>
            <p class="title">Learn More</p>
          </li>
          <li><a href="#">How it works?</a></li>
          <li><a href="#">Meeting tools</a></li>
          <li><a href="#">Live striming</a></li>
          <li><a href="#">Contat method</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 footer-links">
        <ul>
          <li>
            <p class="title">About Us</p>
          </li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Privacy police</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 footer-links">
        <ul>
          <li>
            <p class="title">Support</p>
          </li>
          <li><a href="#">F.A.Q.</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Live chat</a></li>
          <li><a href="#">Phone call</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container copyright-container">
    <div class="row">
      <div class="col-md-6 text-left">
        <div class="more-info"><i class="fa fa-copyright"></i> Copyright CustoFeed 2016-17</div>
      </div>
      <div class="col-md-6 text-right">
        <div class="made-by">Made with <i class="fa fa-heart"></i> by
          <a href="#" target="_blank"><img src="{% static 'images/pages/logo.png' %}" alt="CustoFeed Logo"></a>
        </div>
      </div>
    </div>
  </div>
</footer> {% endblock content %}
