{% load staticfiles i18n compress %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}CustoFeed{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block css %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  {% compress css %}
  <!-- This file store project specific CSS -->
  <link rel="stylesheet" href="{% static 'css/dashboard/style.min.css' %}">
  {% endcompress %}
  {% endblock %}
</head>

<body>
<div class="flex-container">
  <h1>{{store.company.name}}</h1>
  <h2>{{store.name}}</h2>
  {% if feedback.nps > 0 %}
  <h1>Thank You for your valuable feedback!</h1>
  {% else %}
  <div class="panel panel-default feedback_form">
    <div class="panel-heading">
      <h3 class="text-center">{% trans "Feedback Form" %}</h3>
    </div>
    <div class="panel-body">
      <form method="POST" action="{% url 'feedbacks:feedback_form' feedback_id %}">
        {% csrf_token %}
        <ul>
          {% for question in questions %}
          <li>
            <p class="question_title">{{question.title}}</p>
            <p>
              {% if question.type == 3 %}
              <span class="star-rating">
              <input required type="radio" name="{{question.pk}}" id="{{question.pk}}_1" value="1"><label
                for="{{question.pk}}_1">1</label>
              <input required type="radio" name="{{question.pk}}" id="{{question.pk}}_2" value="2"><label
                for="{{question.pk}}_2">2</label>
              <input required type="radio" name="{{question.pk}}" id="{{question.pk}}_3" value="3"><label
                for="{{question.pk}}_3">3</label>
              <input required type="radio" name="{{question.pk}}" id="{{question.pk}}_4" value="4"><label
                for="{{question.pk}}_4">4</label>
              <input required type="radio" name="{{question.pk}}" id="{{question.pk}}_5" value="5"><label
                for="{{question.pk}}_5">5</label>
            </span>
              {% elif question.type == 1 %}
            <ul class="list-unstyled">
              {% for option in question.get_options %}
              <li><input required type="radio" name="{{question.pk}}" value="{{option.pk}}" id="{{option.pk}}"> <label
                for="{{option.pk}}">{{option.title}}</label>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            </p>
          </li>
          {% endfor %}
          <li>
            <p class="question_title">How likely are you to recommend us to your friends/colleagues?</p>
            <p>
              <span class="star-rating">
              <input required type="radio" name="ret" id="ret_1" value="1"><label
                for="ret_1">1</label>
              <input required type="radio" name="ret" id="ret_2" value="2"><label
                for="ret_2">2</label>
              <input required type="radio" name="ret" id="ret_3" value="3"><label
                for="ret_3">3</label>
              <input required type="radio" name="ret" id="ret_4" value="4"><label
                for="ret_4">4</label>
              <input required type="radio" name="ret" id="ret_5" value="5"><label
                for="ret_5">5</label>
              <input required type="radio" name="ret" id="ret_6" value="6"><label
                for="ret_6">6</label>
              <input required type="radio" name="ret" id="ret_7" value="7"><label
                for="ret_7">7</label>
              <input required type="radio" name="ret" id="ret_8" value="8"><label
                for="ret_8">8</label>
              <input required type="radio" name="ret" id="ret_9" value="9"><label
                for="ret_9">9</label>
              <input required type="radio" name="ret" id="ret_10" value="10"><label
                for="ret_10">10</label>
            </span>
            </p>
          </li>
          <li>
            <div class="form-group"><label for="comment" class="control-label requiredField">
              Comment<span class="asteriskField">*</span> </label>
              <div class="controls ">
                <textarea class="textarea textArea form-control" rows="3" id="comment" name="comment"
                          placeholder="COMMENT"> </textarea>
              </div>
            </div>
          </li>
        </ul>
        <div class="text-center"><input type="submit" value="SUBMIT" class="btn btn-primary"></div>
      </form>
    </div>
  </div>
  {% endif %}
  <hr>
  <div class="text-center">
    <p>Powered by</p>
    <img src="{% static 'images/dashboard/logo.png' %}" alt="">
  </div>
</div>
<!-- JS FILES  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous" async></script>
<script src="https://use.fontawesome.com/3412f77613.js" async></script>
</body>

</html>
