{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CustoFeed | Customer Feedback Analytics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
    @import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
    * {
      font-family: 'Lato', sans-serif;
    }
    html, body{
      overflow hidden;
      height:100%;
    }
    body{
      text-align: center;
      color: white;
      background: #933432; /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, #933432 29%, #f55753 100%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, #933432 29%,#f55753 100%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, #933432 29%,#f55753 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#933432', endColorstr='#f55753',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .img{
      height: 50%;
      width:auto;
    }
    h1{
      font-size: 15vh;
      line-height:0;
      font-weight:300;
    }
    h4{
      font-size: 5vh;
      line-height:0;
      font-weight:300;
    }
    button{
      background-color: #f55753;
      color:white;
      text-decoration:none;
      border:0;
      box-shadow:none;
      padding: 1em 1.5em;
      font-size: 1em;
      transition: background-color 0.25s;
    }
    button:hover{
      background-color: #CD4945;
      cursor: pointer;
    }
    small a{
      color: rgba(255,255,255,0.2);
      text-decoration: none;
      font-size: 10px;
    }
  </style>
</head>

<body>
<div class="container">
  <h1>403</h1>
  <h4>Forbidden Access!</h4>
  <a href="{% url 'home' %}"><button>HOME</button></a>
  <br>
  <img class="img" src="{% static 'images/403.png' %}" alt="CustoFeed">
</div>
<small><a href="http://www.freepik.com/free-photos-vectors/background">Background vector designed by Freepik</a></small>
</body>

</html>
