{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CustoFeed | Customer Feedback Analytics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
    @import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
    * {
      font-family: 'Lato', sans-serif;
    }
    html, body{
      overflow hidden;
      height:100%;
    }
    body{
      text-align: center;
      color: white;
      background: #232b31; /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, #232b31 46%, #626c75 100%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, #232b31 46%,#626c75 100%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, #232b31 46%,#626c75 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232b31', endColorstr='#626c75',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .img{
      height: 50vh;
      width:auto;
    }
    h1{
      font-size: 15vh;
      line-height:0;
      font-weight:300;
    }
    h4{
      font-size: 5vh;
      line-height:0;
      font-weight:300;
    }
    button{
      background-color: #3b4752;
      color:white;
      text-decoration:none;
      border:0;
      box-shadow:none;
      padding: 1em 1.5em;
      font-size: 1em;
      transition: background-color 0.25s;
      margin:1em;
    }
    button:hover{
      background-color: #313B44;
      cursor: pointer;
    }
    small{
      color: rgba(255,255,255,0.2);
      text-decoration: none;
      font-size: 10px;
    }
    small a{
      color: rgba(255,255,255,0.2);
      text-decoration: none;
      font-size: 10px;
    }
  </style>
</head>

<body>
<div class="container">
  <h1>500</h1>
  <h4>Opps! Something went wrong!</h4>
  <a href="{% url 'home' %}"><button>HOME</button></a>
  <br>
  <img class="img" src="{% static 'images/500.png' %}" alt="CustoFeed">
</div>
<small>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
</body>

</html>


