{% load staticfiles i18n compress %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}CustoFeed{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block css %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  {% compress css %}
  <!-- This file store project specific CSS -->
  <link rel="stylesheet" href="{% static 'css/dashboard/style.min.css' %}">
  {% endcompress %}
  {% endblock %}
</head>

<body>
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/dashboard/logo.png' %}"
                                                             alt="CustoFeed Logo"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <i class="fa fa-user"></i>&nbsp;&nbsp;{% if request.session.simulate %}{{request.session.simulate}}
              {% else %}{{user.get_full_name}}{% endif %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% block dropmenu %}
              {% if request.session.simulate %}
              <li><a href="{% url 'users:detail' request.session.simulate %}">{% trans "My Profile" %}</a></li>
              {% else %}
              <li><a href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a></li>
              {% endif %}
              <li><a href="{% url 'dashboard:b2b_company' %}">{% trans "Company" %}</a></li>
              <li><a href="{% url 'dashboard:b2b_subscriptions' %}">{% trans "Subscriptions" %}</a></li>
              {% endblock dropmenu %}
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
              {% else %}
              <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <label for="sidebarToggle" class="sidebar-toggle"><i class="fa fa-chevron-circle-right"
                                                       aria-hidden="true"></i></label>
  <input type="checkbox" id="sidebarToggle">
  {% block sidebar %}
  <nav class="sidebar">
    <ul>
      <li>
        <a href="{% url 'dashboard:b2b_dashboard' %}">
          <i class="fa fa-dashboard fa-2x"></i>
          <span class="nav-text">{% trans "Dashboard" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_feedback_takers' %}">
          <i class="fa fa-black-tie fa-2x"></i>
          <span class="nav-text">{% trans "Employees" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_feedback_forms' %}">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text">{% trans "Feedback Forms" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_feedbacks' %}">
          <i class="fa fa-thumbs-up fa-2x"></i>
          <span class="nav-text">{% trans "Feedbacks" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_feedbackers' %}">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">{% trans "Customers" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_feedback_request' %}">
          <i class="fa fa-star-half-o fa-2x"></i>
          <span class="nav-text">{% trans "Ask Feedback" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_stores' %}">
          <i class="fa fa-building fa-2x"></i>
          <span class="nav-text">{% trans "Stores" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_export_data' %}">
          <i class="fa fa-cloud-download fa-2x"></i>
          <span class="nav-text">{% trans "Export Data" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_market' %}">
          <i class="fa fa-shopping-cart fa-2x"></i>
          <span class="nav-text">{% trans "Market" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_promotions_sms' %}">
          <i class="fa fa-mobile fa-2x"></i>
          <span class="nav-text">{% trans "Promotional SMS" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_loyalty' %}">
          <i class="fa fa-trophy fa-2x"></i>
          <span class="nav-text">{% trans "Loyalty Program" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:b2b_alert_premium' %}">
          <i class="fa fa-share-alt fa-2x"></i>
          <span class="nav-text">{% trans "Social Media" %}</span>
        </a>
      </li>
    </ul>
    <ul class="bottom">
      <li>
        <a href="{% url 'account_logout' %}">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> {% trans "Sign out" %} </span>
        </a>
      </li>
    </ul>
  </nav>
  {% endblock sidebar %}
</header>
<div class="container">
  {% if request.session.simulate %}
  <div class="snackbar">Z
    Simulating as <b>{{request.session.simulate}}</b>
  </div>
  {% endif %}
  {% if messages %}
  {% for message in messages %}
  <div class="noti {% if message.tags %}noti-{{ message.tags }}{% endif %}">{{ message }}</div>
  {% endfor %}
  {% endif %}
</div>
{% block content %}{% endblock content %} {% block modal %}{% endblock modal %}
<!-- JS FILES  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous" async></script>
<script src="https://use.fontawesome.com/3412f77613.js" async></script>
<!-- place project specific Javascript in this file -->{% compress js %}
<script src="{% static 'js/dashboard/newstricker.min.js' %}"></script>
<script src="{% static 'js/dashboard/script.min.js' %}"></script>
{% endcompress %}
{% block javascript %}
{% endblock javascript %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80286097-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
