{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Premium Alert" %}{% endblock title %}

{% block content %} {% load staticfiles i18n compress %}
<div class="flex-container">
  <div class="h3"><div class="label label-premium"><div class="fa fa-star"></div> PREMIUM</div></div>
  <div class="text-xl font-alt text-light">Premium Feature!</div>
  <div class="h3 font-alt text-light">This feature is available for premium users only.</div>
  <a href="{% url 'dashboard:b2b_dashboard' %}" class="btn btn-lg btn-primary">GO BACK TO DASHBOARD</a>
</div>
{% endblock content %}
