{% extends "base.html" %}
{% load staticfiles i18n compress humanize %}

{% block title %}{% trans "Dashboard" %}{% endblock title %}

{% block content %}
<div class="tile-grid">
  <div class="row">
    <div class="col-xs-12">
      {% if is_multistore %}
      <div class="col-xs-12">
        <div class="tile ht1 no-padding">
          <div class="content col-xs-12">
            <div class="h3 tile-heading">Store Feedbacks</div>
            <button class="chart-multistore-toggle btn btn-default" data-chart='F'
                    data-url="{% url 'dashboard:b2b_charts_multistore' 'F' 'M' 0 12 %}"
                    data-start="0" data-delta="30">YEAR
            </button>
            <button class="chart-multistore-toggle btn btn-primary" data-chart='F'
                    data-url="{% url 'dashboard:b2b_charts_multistore' 'F' 'D' 0 30 %}"
                    data-start="0" data-delta="30">MONTH
            </button>
            <button class="chart-multistore-toggle btn btn-default" data-chart='F'
                    data-url="{% url 'dashboard:b2b_charts_multistore' 'F' 'D' 0 7 %}"
                    data-start="0" data-delta="30">WEEK
            </button>
            <button class="chart-multistore-toggle btn btn-default" data-chart='F'
                    data-url="{% url 'dashboard:b2b_charts_multistore' 'F' 'H' 0 24 %}"
                    data-start="0" data-delta="30">DAY
            </button>
          </div>
          <div class="col-xs-12">
            <div id="multiStoreChart" style="min-height:300px">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <hr>
      <a class="btn {% if active_store == None %}btn-primary{% else %}btn-default{% endif %}"
         href="{% url 'dashboard:b2b_dashboard' %}">All</a>
      {% for store in access_stores %}
      <form action="{% url 'dashboard:b2b_dashboard' %}" method="POST" style="display:inline-block;">{% csrf_token %}
        <button class="btn {% if active_store == store.pk %}btn-primary{% else %}btn-default{% endif %}" name="store"
                type="submit" value="{{store.pk}}">{{store.name|title}}
        </button>
      </form>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="col-md-3">
    <a href="#" class="clear-styles">
      <div class="tile ht3 {% if cf_retention_score > 0 %}bg-success{% else %}bg-danger{% endif %}">
        <div class="tile-head">CF RETENTION SCORE
          <div class="pull-right"><i class="fa fa-star"></i></div>
        </div>
        <div class="pull-down">
          <div class="col-xs-12">
            <small>Ranges from -10 to +10</small>
          </div>
          <div class="h1">
            {{cf_retention_score|floatformat:2|intcomma}}
            <small>/ 10</small>
          </div>
          <div class="col-xs-4">
            <div class="tile-title">{{nb_promoters|intcomma}}</div>
            PROMOTERS
          </div>
          <div class="col-xs-4 text-center">
            <div class="tile-title">{{nb_passives|intcomma}}</div>
            PASSIVES
          </div>
          <div class="col-xs-4 text-right">
            <div class="tile-title">{{nb_detractors|intcomma}}</div>
            DETRACTORS
          </div>
        </div>
        <div class="bg-icon"><i class="fa fa-star"></i></div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="{% url 'dashboard:b2b_feedbacks' %}" class="clear-styles">
      <div class="tile ht3 bg-primary">
        <div class="tile-head">TOTAL FEEDBACKS
          <div class="pull-right"><i class="fa fa-list"></i></div>
        </div>
        <div class="pull-down">
          <div class="h1">
            {{nb_feedbacks|intcomma}}
          </div>
          <div class="col-xs-6">
            <div class="tile-title">{{nb_feedbacks_today|intcomma}}</div>
            TODAY
          </div>
          <div class="col-xs-6 text-right">
            <div class="tile-title">{{nb_feedbacks_yesterday|intcomma}}</div>
            YESTERDAY
          </div>
        </div>
        <div class="bg-icon"><i class="fa fa-list"></i></div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="{% url 'dashboard:b2b_feedbackers' %}" class="clear-styles">
      <div class="tile ht3 bg-complete">
        <div class="tile-head">TOTAL CUSTOMERS
          <div class="pull-right"><i class="fa fa-users"></i></div>
        </div>
        <div class="pull-down">
          <div class="h1">
            {{nb_feedbackers|intcomma}}
          </div>
          <div class="col-xs-6">
            <div class="tile-title">{{nb_feedbackers_today|intcomma}}</div>
            TODAY
          </div>
          <div class="col-xs-6 text-right">
            <div class="tile-title">{{nb_feedbackers_yesterday|intcomma}}</div>
            YESTERDAY
          </div>
        </div>
        <div class="bg-icon"><i class="fa fa-users"></i></div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="clear-styles">
      <div
        class="tile ht3 {% if cf_satisfaction_score > 5 %}bg-success{% else %}bg-danger{% endif %}">
        <div class="tile-head">CF STATISFACTION SCORE
          <div class="pull-right"><i class="fa fa-certificate"></i></div>
        </div>
        <div class="pull-down">
          <div class="col-xs-12">
            <small>Ranges from 0 to 10</small>
          </div>
          <div class="h1">
            {{cf_satisfaction_score|floatformat:2|intcomma}}
            <small>/ 10</small>
          </div>
          <div class="col-xs-6">
            <div class="tile-title">{{nb_positives|intcomma}}</div>
            HAPPY
          </div>
          <div class="col-xs-6 text-right">
            <div class="tile-title">{{nb_negatives|intcomma}}</div>
            UNHAPPY
          </div>
        </div>
        <div class="bg-icon"><i class="fa fa-certificate"></i></div>
      </div>
    </a>
  </div>
  <div class="col-md-6 col-lg-7">
    <div class="tile ht6 no-padding">
      <div class="content col-xs-12" id="chartHeading">
        <div class="h3 tile-heading">Customer Retention</div>
        <button class="chart-toggle btn btn-default" data-chart='N'
                data-url="{% url 'dashboard:b2b_charts' 'N' 'M' 0 12 %}"
                data-start="0" data-delta="30">YEAR
        </button>
        <button class="chart-toggle btn btn-primary" data-chart='N'
                data-url="{% url 'dashboard:b2b_charts' 'N' 'D' 0 30 %}"
                data-start="0" data-delta="30">MONTH
        </button>
        <button class="chart-toggle btn btn-default" data-chart='N'
                data-url="{% url 'dashboard:b2b_charts' 'N' 'D' 0 7 %}"
                data-start="0" data-delta="30">WEEK
        </button>
        <button class="chart-toggle btn btn-default" data-chart='N'
                data-url="{% url 'dashboard:b2b_charts' 'N' 'H' 0 24 %}"
                data-start="0" data-delta="30">DAY
        </button>
      </div>
      <div class="col-xs-12">
        <div id="chart">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-2">
    <a href="{% url 'dashboard:b2b_feedback_takers' %}" class="clear-styles">
      <div class="tile ht3 bg-warning">
        <div class="tile-head">Top Employee
          <div class="pull-right"><i class="fa fa-black-tie"></i></div>
        </div>
        <div class="pull-down">
          <div class="label label-success">TOP</div>
          <div class="tile-title">{{feedback_taker_stats.0|truncatechars:15}}</div>
          <div class="row">
            <div class="col-xs-6">
              <div class="tile-title">
                {{feedback_taker_stats.0.get_cf_satisfaction_score|floatformat:2|intcomma}}
              </div>
              SCORE
            </div>
            <div class="col-xs-6 text-right">
              <div class="tile-title">
                {{feedback_taker_stats.0.get_nb_feedbacks|intcomma}}
              </div>
              FEEDBACKS
            </div>
          </div>
          <ul class="li-unstyled li-bordered">
            {% if feedback_taker_stats.1 %}
            <li>
              {{feedback_taker_stats.1|truncatechars:15}}
              <div class="pull-right">{{feedback_taker_stats.1.get_cf_satisfaction_score|floatformat:2|intcomma}}</div>
            </li>
            {% endif %}
            {% if feedback_taker_stats.2 %}
            <li>
              {{feedback_taker_stats.2|truncatechars:15}}
              <div class="pull-right">{{feedback_taker_stats.2.get_cf_satisfaction_score|floatformat:2|intcomma}}</div>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="bg-icon"><i class="fa fa-black-tie"></i></div>
      </div>
    </a>
    <a href="#" class="clear-styles">
      <div class="tile ht3 bg-info">
        <div class="tile-head">NEGATIVE FEEDBACKS
          <div class="pull-right"><i class="fa fa-exclamation-circle"></i></div>
        </div>
        <div class="pull-down">
          <div class="h1">{{nb_negatives}}</div>
          <div class="row">
            <div class="col-xs-6">
              <div class="tile-title">{{nb_negatives_today}}</div>
              TODAY
            </div>
            <div class="col-xs-6 text-right">
              <div class="tile-title">{{nb_negatives_yesterday}}</div>
              YESTERDAY
            </div>
          </div>
        </div>
        <div class="bg-icon"><i class="fa fa-exclamation-circle"></i></div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <div class="tile ht6">
      <div class="tile-head">LATEST FEEDBACKS
        <div class="pull-right"><i class="fa fa-star"></i></div>
      </div>
      <ul id="topComments" class="news-tricker top-comments">
        {% for feedback in feedbacks %}
        <li>
          <div class="name"><a href="{% url 'dashboard:b2b_feedbacker' feedback.feedbacker.pk %}">{{feedback.feedbacker}}</a>
            <div class="pull-right">
              <a href="{% url 'dashboard:b2b_feedback' feedback.pk %}" class="label label-success">{{feedback.nps}}</a>
            </div>
          </div>
          <p>{{feedback.comment}}</p>
          <small>{{feedback.feedback_form.store}} {% if feedback.feedback_taker %}: <a
            href="{% url 'dashboard:b2b_feedback_taker' feedback.feedback_taker.pk %}">{{feedback.feedback_taker}}</a>
            {% endif %}<span
              class="pull-right">{{feedback.timestamp}}</span></small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tile ht6 no-padding">
      <div class="content" id="chart1Heading">
        <div class="col-xs-12">
          <div class="h3 tile-heading">Customer Satisfaction</div>
          <button class="chart-toggle btn btn-default" data-chart='S'
                  data-url="{% url 'dashboard:b2b_charts' 'S' 'M' 0 12 %}"
                  data-start="0" data-delta="30">YEAR
          </button>
          <button class="chart-toggle btn btn-primary" data-chart='S'
                  data-url="{% url 'dashboard:b2b_charts' 'S' 'D' 0 30 %}"
                  data-start="0" data-delta="30">MONTH
          </button>
          <button class="chart-toggle btn btn-default" data-chart='S'
                  data-url="{% url 'dashboard:b2b_charts' 'S' 'D' 0 7 %}"
                  data-start="0" data-delta="30">WEEK
          </button>
          <button class="chart-toggle btn btn-default" data-chart='S'
                  data-url="{% url 'dashboard:b2b_charts' 'S' 'H' 0 24 %}"
                  data-start="0" data-delta="30">DAY
          </button>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="chart1">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tile ht6 no-padding">
      <div class="content" id="chart2Heading">
        <div class="col-xs-12">
          <div class="h3 tile-heading">Feedback Categories</div>
          <button class="chart-toggle btn btn-default" data-chart='C'
                  data-url="{% url 'dashboard:b2b_charts' 'C' 'M' 0 12 %}"
                  data-start="0" data-delta="30">YEAR
          </button>
          <button class="chart-toggle btn btn-primary" data-chart='C'
                  data-url="{% url 'dashboard:b2b_charts' 'C' 'D' 0 30 %}"
                  data-start="0" data-delta="30">MONTH
          </button>
          <button class="chart-toggle btn btn-default" data-chart='C'
                  data-url="{% url 'dashboard:b2b_charts' 'C' 'D' 0 7 %}"
                  data-start="0" data-delta="30">WEEK
          </button>
          <button class="chart-toggle btn btn-default" data-chart='C'
                  data-url="{% url 'dashboard:b2b_charts' 'C' 'H' 0 24 %}"
                  data-start="0" data-delta="30">DAY
          </button>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="chart2">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="tile ht6">
      <div class="tile-head">UPCOMING BIRTHDAYS
        <div class="pull-right"><i class="fa fa-birthday-cake"></i></div>
      </div>
      <ul id="dobTicker" class="news-tricker top-comments">
        {% for feedbacker in feedbackers_dob %}
        <li>
          <div class="name"><a href="{% url 'dashboard:b2b_feedbacker' feedbacker.pk %}">{{feedbacker.get_full_name}}</a>
            <div class="pull-right">
              <a href="{% url 'dashboard:b2b_feedbacker' feedbacker.pk %}" class="label label-success">{{feedbacker.dob}}</a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="tile ht6">
      <div class="tile-head">UPCOMING ANNIVERSARIES
        <div class="pull-right"><i class="fa fa-venus-mars"></i></div>
      </div>
      <ul id="anniTicker" class="news-tricker top-comments">
        {% for feedbacker in feedbackers_anni %}
        <li>
          <div class="name"><a href="{% url 'dashboard:b2b_feedbacker' feedbacker.pk %}">{{feedbacker.get_full_name}}</a>
            <div class="pull-right">
              <a href="{% url 'dashboard:b2b_feedbacker' feedbacker.pk %}" class="label label-success">{{feedbacker.dob}}</a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script>
    $(function () {
        plotChart('N', "{% url 'dashboard:b2b_charts' 'N' 'D' 0 30 %}");
        plotChart('S', "{% url 'dashboard:b2b_charts' 'S' 'D' 0 30 %}");
        plotChart('C', "{% url 'dashboard:b2b_charts' 'C' 'D' 0 30 %}");
        plotMultiStoreChart('F', "{% url 'dashboard:b2b_charts_multistore' 'F' 'D' 0 30 %}");
    })


</script>
{% endblock javascript %}
