{% extends "base.html" %}
{% load static %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center">{{title}}</h1>
    </div>
    <div class="panel-body text-center profile-panel">
      <div class="col-sm-12">
        {% for key, value in data.items %}
        <p>{{key|upper}}</p>
        <h3>{{value}}</h3>
        {% endfor %}
      </div>

      <div class="col-sm-12 text-center">
        {% if url_edit %}
        <a class="btn btn-primary" href="/dashboard/{{url_edit}}">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

