{% extends "base.html" %}
{% load static %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h1 class="text-center">Export Data</h1>
      <p>Export data in CSV file.</p>
    </div>
    <div class="panel-body profile-panel">
      <form method="POST" action="{% url 'feedbacks:export_csv_feedback_form_data' %}"> {% csrf_token %}
        <div class="form-group">
          <label for="feedback_form">FEEDBACK FORM*</label>
          <select name="feedback_form" id="feedback_form" class="form-control" required>
            {% for feedback_form in feedback_forms %}
            <option value="{{feedback_form.pk}}">{{feedback_form.title}}</option>
            {% endfor %} </select>
        </div>
        <div class="form-group">
          <label for="date_start">START DATE*</label>
          <input type="text" class="form-control" name="date_start" id="date_start" required placeholder="YYYY-MM-DD"
          pattern="^\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$">
        </div>
        <div class="form-group">
          <label for="date_end">END DATE*</label>
          <input type="text" class="form-control" name="date_end" id="date_end" required placeholder="YYYY-MM-DD"
          pattern="^\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$">
        </div>
        <div class="text-center">
          <input class="btn btn-primary" type="submit" name="submit" value="EXPORT">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/datedropper.min.css' %}">
<script src="{% static 'js/libs/datedropper.min.js' %}"></script>
<script>
$( "#date_start" ).dateDropper({
  "format": "Y-m-d"
});
$( "#date_end" ).dateDropper({
  "format": "Y-m-d"
});
</script>
{% endblock javascript %}

