{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h1 class="text-center">Feedback Form Customizer</h1>
      <p>Create a customized feedback form.</p>
    </div>
    <div class="panel-body profile-panel">
      <form method="POST" action="{% url 'dashboard:b2b_feedback_form_customizer' %}"> {% csrf_token %}
        <div class="form-group">
          <label for="feedback_form_title">FEEDBACK FORM TITLE*</label>
          <input type="text" class="form-control" name="feedback_form_title" id="feedback_form_title" placeholder=""
                 required>
        </div>
        <div class="form-group">
          <label for="store">STORE*</label>
          <select name="store" id="store" class="form-control" required>
            {% for store in stores %}
            <option value="{{store.pk}}">{{store.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="text-center">
          <button type="submit" name="submit" value="form_customize" class="save btn btn-primary">CREATE</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

