{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addQuestionModal">
    <i class="fa fa-plus"></i> ADD QUESTION
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h1 class="text-center">Feedback Form Customizer</h1>
      <p>Create a customized feedback form.</p>
    </div>
    <div class="panel-body profile-panel">
      <form method="POST" action="{% url 'dashboard:b2b_feedback_form_customizer_questions' feedback_form.pk %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="feedback_form_title">FEEDBACK FORM TITLE*</label>
              <input type="text" class="form-control" name="feedback_form_title" id="feedback_form_title"
                     placeholder="" value="{{feedback_form.title}}" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="store">STORE*</label>
              <select name="store" id="store" class="form-control" required>
                {% for store in stores %}
                {% if feedback_form.store == store %}
                <option value="{{store.pk}}" selected>{{store.name}}</option>
                {% else %}
                <option value="{{store.pk}}">{{store.name}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" name="submit" value="form_customize_edit" class="save btn btn-primary">EDIT</button>
        </div>
      </form>
    </div>
  </div>
  {% if questions %}
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h2 class="text-center">Questions</h2>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>TITLE</th>
            <th>CATEGORY</th>
            <th>TYPE</th>
            <th>OPTIONS</th>
            <th>CONTROLS</th>
          </tr>
          </thead>
          <tbody>
          {% for question in questions %}
          <tr>
            <td>{{question.title}}</td>
            <td>{{question.category}}</td>
            <td>{{question.get_type_display}}</td>
            <td>
              {% if question.type >= 2 %}
              <table class="table">
                {% for option in question.get_options %}
                <tr>
                  <td>{{option}}</td>
                  <td>{{option.score}}</td>
                  <td>
                    <a title="Edit"
                       href="{% url 'dashboard:b2b_edit' 'option' option.pk %}?from={{request.path}}"
                       class="btn btn-info btn-xs" type="submit" name="submit" value="edit_option">
                      <i class="fa fa-edit"></i>
                    </a>
                  </td>
                  <td>
                    <form action="{% url 'dashboard:b2b_delete' %}?from={{request.path}}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="type" value="question_option">
                      <input type="hidden" name="pk" value="{{option.pk}}">
                      <button title="Delete" class="btn btn-danger btn-xs" type="submit" name="submit">
                        <i class="fa fa-trash"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
                <tr class="text-center">
                  <td colspan="4">
                    <div class="btn btn-primary btn-xs addOption" data-id="{{question.pk}}" data-toggle="modal"
                         data-target="#addOptionModal">
                      <i class="fa fa-plus"></i> ADD OPTION
                    </div>
                  </td>
                </tr>
              </table>
              {% endif %}
            </td>
            <td>
              <ul class="list-inline list-unstyled">
                <li>
                  <form action="{% url 'dashboard:b2b_delete' %}?from={{request.path}}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="question">
                    <input type="hidden" name="pk" value="{{question.pk}}">
                    <button title="Delete" class="btn btn-danger btn-xs" type="submit" name="submit">
                      <i class="fa fa-trash"></i>
                    </button>
                  </form>
                </li>
                <li>
                  <a title="Edit"
                     href="{% url 'dashboard:b2b_edit' 'question' question.pk %}?from={{request.path}}"
                     class="btn btn-info btn-xs" type="submit" name="submit" value="edit_question">
                    <i class="fa fa-edit"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="text-center">
    <a href="{% url 'dashboard:b2b_feedback_forms'%}" class="btn btn-primary btn-lg">SUBMIT</a>
  </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addQuestionModalLabel">ADD QUESTION</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ question_form|crispy }}
          <div class="text-center">
            <button type="submit" name="submit" value="add_question" class="save btn btn-primary">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addOptionModal" tabindex="-1" role="dialog" aria-labelledby="addOptionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addOptionModalLabel">ADD QUESTION</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">{% csrf_token %}
          <input type="hidden" name="question_pk" value="" id="questionPk">
          {{ option_form|crispy }}
          <div class="text-center">
            <button type="submit" name="submit" value="add_option" class="save btn btn-primary">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}
{% block javascript %}
<script>
  $('.addOption').click(function() {
    $('#questionPk').val($(this).data('id'));
  });







</script>
{% endblock javascript %}

