{% extends "base.html" %}
{% load static %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#uploadCustomerModal">
    <i class="fa fa-cloud-upload"></i> UPLOAD MOBILE NUMBERS
  </div>
</div>
<div class="clearfix"></div>
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center">Ask Feedback</h1>
      <p>Send feedback request to customers via SMS</p>
    </div>
    <div class="panel-body profile-panel">
      <form method="POST" action="{% url 'dashboard:b2b_feedback_request' %}"> {% csrf_token %}
        <div class="form-group">
          <label for="mobile">CUSTOMER MOBILE*</label>
          <textarea type="text" class="form-control" name="mobile" id="mobile" placeholder="{{mobile}}" maxlength="10"
                    required>{{mobiles}}</textarea>
          <p class="help-text">Seperate multiple mobile numbers by comma ( , )</p>
        </div>
        <div class="form-group">
          <label for="feedback_form">FEEDBACK FORM*</label>
          <select name="feedback_form" id="feedback_form" class="form-control" required>
            {% for feedback_form in feedback_forms %}
            <option value="{{feedback_form.pk}}">{{feedback_form.title}}</option>
            {% endfor %} </select>
        </div>
        <div class="form-group">
          <label for="employee">EMPLOYEE*</label>
          <select name="employee" id="employee" class="form-control" required>
            {% for feedback_taker in feedback_takers %}
            <option value="{{feedback_taker.pk}}">{{feedback_taker.get_full_name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="text-center">
          <input class="btn btn-primary" type="submit" name="submit" value="SEND">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="uploadCustomerModal" tabindex="-1" role="dialog" aria-labelledby="uploadCustomerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="uploadCustomerModalLabel">UPLOAD MOBILE NUMBERS</h4>
        <div class="text-center">
          <a href="{% static 'docs/ask_feedback_sample.csv' %}" class="btn btn-primary">DOWNLOAD SAMPLE CSV FILE</a>
        </div>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
          <div class="form-group">
            <label for="file">FILE*</label>
            <input type="file" name="file" id="file" class="form-control">
          </div>
          <div class="text-center">
            <button type="submit" class="save btn btn-primary" name="submit" value="upload_mobiles">UPLOAD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

