{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Feedback" %}{% endblock title %}

{% block content %} {% load staticfiles i18n compress %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
        <div class="h3">CREATED ON: {{feedback.timestamp}}</div>
        <div class="h3">FORM: <a href="{% url 'dashboard:b2b_feedback_forms' %}">{{feedback.feedback_form}}</a></div>
        <div class="h3">STORE: {{feedback.feedback_form.store}}</div>
        <div class="h3">CUSTOMER: <a href="{% url 'dashboard:b2b_feedbacker' feedback.feedbacker.pk %}">{{feedback.feedbacker}}</a>
        </div>
        {% if feedback.feedback_taker %}<div class="h3">EMPLOYEE: <a
          href="{% url 'dashboard:b2b_feedback_taker' feedback.feedback_taker.pk %}">{{feedback.feedback_taker}}</a></div>{% endif %}
      <div class="h3">COMMENT:</div>
      <p>{{feedback.comment|linebreaks}}</p>
    </div>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">ANSWERS</div>
      </div>
      <div class="panel-body">
        <ul class="question-list">
          {% for answer in answers %}
          <li>
            <label>{{answer.get_answer_display|safe}}</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
