{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Feedback Form Creator" %}{% endblock title %}

{% block sidebar %}{% endblock sidebar %}

{% block content %} {% load staticfiles i18n compress %}
<div class="flex-container">
  <div class="panel central-panel">
    <div class="panel-heading text-center">
      <div class="h3">LET'S GET STARTED!</div>
    </div>
    <div class="panel-body">
      <div id="feedbackFormCreator" class="carousel slide form-wizard" data-ride="carousel" data-interval="false"
           data-wrap="false">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="text-center">
              <p>Enter feedback form details.</p>
            </div>
            <form method="POST" action="{% url 'dashboard:b2b_feedback_form_creator' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="feedback_form_title">FEEDBACK FORM TITLE*</label>
                <input type="text" class="form-control" name="feedback_form_title" id="feedback_form_title" placeholder=""
                       required>
              </div>
              <div class="form-group">
                <label for="store">STORE*</label>
                <select name="store" id="store" class="form-control" required>
                  {% for store in stores %}
                  <option value="{{store.pk}}">{{store.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </form>
          </div>
          {% for step in steps %}
          <div class="item">
            <form method="POST" action="{% url 'dashboard:b2b_feedback_form_creator' %}">
              {% csrf_token %}
              <input type="hidden" class="form-control" name="feedback_form" required>
              <ul class="question-list">
                {% for question in step %}
                <li>
                  <input type="radio" id="{{question.question.pk}}" value="{{question.question.pk}}" name="question"
                         required>
                  <label for="{{question.question.pk}}">{{question.display|safe}}</label>
                </li>
                {% endfor %}
              </ul>
            </form>
          </div>
          {% endfor %}
        </div>
        <!-- Controls -->
        <div class="text-center">
          <a href="#feedbackFormCreator" role="button" data-slide="prev">
            <button class="btn btn-default">BACK</button>
          </a>
          <button class="btn btn-primary formWizardNext" data-target="#feedbackFormCreator">NEXT</button>
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#feedbackFormCreator" data-slide-to="0"></li>
          {% for step in steps %}
          <li data-target="#feedbackFormCreator" data-slide-to="{{forloop.counter}}"></li>
          {% endfor %}
        </ol>
        <input type="hidden" id="redirectLink" value="{% url 'dashboard:b2b_feedback_forms' %}">
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/dashboard/validate.min.js' %}"></script>
<script>
  $('#feedback_form_title').keyup(function() {
    $('[name="feedback_form"]').val($(this).val());
  });

</script>
{% endblock javascript %}
