{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Feedback Forms" %}{% endblock title %}

{% block content %} {% load staticfiles i18n compress %}
{% if feedback_forms|length == 0 %}
<div class="flex-container">
  <div class="text-xl font-alt text-light">No Feedback Forms Yet!</div>
  <a href="{% url 'dashboard:b2b_feedback_form_creator' %}" class="btn btn-lg btn-primary">ADD A FEEDBACK FORM</a>
</div>
{% else %}
<div class="col-xs-12">
  <br>
  <a href="{% url 'dashboard:b2b_feedback_form_creator' %}" class="btn btn-lg btn-primary"><i class="fa fa-plus"></i>
    ADD FEEDBACK FORM</a>
  <a href="{% url 'dashboard:b2b_feedback_form_customizer' %}" class="btn btn-lg btn-primary"><i class="fa fa-plus"></i>
    ADD CUSTOMIZED FEEDBACK FORM</a>
</div>
<div class="clearfix"></div>
{% for feedback_form in feedback_forms %}
<div class="col-sm-6 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading ">
      <div class="panel-title">{{feedback_form}}</div>
      <div class="panel-controls">
        <ul>
          <li>
            <form action="{% url 'dashboard:b2b_feedback_forms' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="feedback_form" value="{{feedback_form.pk}}">
              {% if feedback_form.active %}
              <i class="fa fa-circle"></i> ACTIVE
              {% else %}
              <button class="btn-clear" type="submit" name="submit" value="activate_feedback_form">
                <i class="fa fa-circle-o"></i> INACTIVE
              </button>
              {% endif %}
            </form>
          </li>
          <li>
            <form action="{% url 'dashboard:b2b_feedback_forms' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="feedback_form" value="{{feedback_form.pk}}">
              {% if not feedback_form.active %}
              <button title="Delete" class="btn btn-danger btn-xs" type="submit" name="submit" value="del_feedback_form">
                <i class="fa fa-trash"></i>
              </button>
              {% endif %}
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <ul class="question-list">
        {% for question in feedback_form.get_questions_display %}
        <li>
          <label>{{question.display|safe}}</label>
        </li>
        {% endfor %}
      </ul>
      STORE: {{feedback_form.store}}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/dashboard/validate.min.js' %}"></script>
{% endblock javascript %}
