{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Employees" %}{% endblock title %}

{% block content %} {% load staticfiles i18n compress %}
{% if vals|length == 0 %}
<div class="flex-container">
  <div class="text-xl font-alt text-light">No Employees Yet!</div>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEmployeeModal">
    <i class="fa fa-plus"></i> ADD EMPLOYEE
  </div>
</div>
{% else %}
<div class="col-xs-12">
  <div class="tile ht1 no-padding">
    <div class="content col-xs-12">
      <div class="h3 tile-heading">Employees</div>
      <button class="chart-employees-toggle btn btn-default" data-chart='F'
              data-url="{% url 'dashboard:b2b_charts_feedback_takers' 'F' 'M' 0 12 %}"
              data-start="0" data-delta="30">YEAR
      </button>
      <button class="chart-employees-toggle btn btn-primary" data-chart='F'
              data-url="{% url 'dashboard:b2b_charts_feedback_takers' 'F' 'D' 0 30 %}"
              data-start="0" data-delta="30">MONTH
      </button>
      <button class="chart-employees-toggle btn btn-default" data-chart='F'
              data-url="{% url 'dashboard:b2b_charts_feedback_takers' 'F' 'D' 0 7 %}"
              data-start="0" data-delta="30">WEEK
      </button>
      <button class="chart-employees-toggle btn btn-default" data-chart='F'
              data-url="{% url 'dashboard:b2b_charts_feedback_takers' 'F' 'H' 0 24 %}"
              data-start="0" data-delta="30">DAY
      </button>
    </div>
    <div class="col-xs-12">
      <div id="multiStoreChart" style="min-height:300px">
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEmployeeModal">
    <i class="fa fa-plus"></i> ADD EMPLOYEE
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">EMPLOYEES</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="table">
          <thead>
          <tr>
            <th class="text-center" rowspan="2">STORE</th>
            <th class="text-center" rowspan="2">NAME</th>
            <th class="text-center" rowspan="2">PIN</th>
            <th class="text-center" rowspan="2">MOBILE</th>
            <th class="text-center" rowspan="1" colspan="2">STATS</th>
            <th class="text-center" rowspan="2">CONTROLS</th>
          </tr>
          <tr>
            <th class="text-center" rowspan="1" colspan="1">NO. OF FEEDBACKS</th>
            <th class="text-center" rowspan="1" colspan="1">SCORE</th>
          </tr>
          </thead>
          <tbody>
          {% for val in vals %}
          <tr class="text-center" id="employee_{{val.0.pk}}">
            <td>{{val.0.store}}</td>
            <td><a href="{% url 'dashboard:b2b_feedback_taker' val.0.pk %}">{{val.0}}</a></td>
            <td>{{val.0.pin}}</td>
            <td>{{val.0.mobile}}</td>
            <td>{{val.1.get_nb_feedbacks}}</td>
            <td>{{val.1.get_cf_satisfaction_score}}</td>
            <td>
              <button title="DELETE" class="btn btn-danger btn-xs ajaxSubmit"
                      data-url="{% url 'dashboard:b2b_feedback_takers'%}"
                      data-id="{{val.0.pk}}" data-submit="del_employee"
                      data-target="#employee_{{val.0.pk}}">
                <i class="fa fa-lg fa-trash"></i>
              </button>
              <a title="EDIT" href="{% url 'dashboard:b2b_feedback_taker_edit' val.0.pk %}"
                 class="btn btn-info btn-xs">
                <i class="fa fa-lg fa-edit"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{%endif%}
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addEmployeeModalLabel">ADD EMPLOYEE</h4>
      </div>
      <form action="{% url 'dashboard:b2b_feedback_takers' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="employee_store">STORE*</label>
            <select name="employee_store" id="employee_store" class="form-control" required>
              {% for store in stores %}
              <option value="{{store.pk}}">{{store.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="employee_first_name">FIRST NAME*</label>
            <input type="text" maxlength="255" class="form-control" name="employee_first_name"
                   id="employee_first_name"
                   placeholder="" required>
          </div>
          <div class="form-group">
            <label for="employee_last_name">LAST NAME*</label>
            <input type="text" maxlength="255" class="form-control" name="employee_last_name" id="employee_last_name"
                   placeholder="" required>
          </div>
          <div class="form-group">
            <label for="employee_mobile">MOBILE</label>
            <input type="text" maxlength="10" pattern="^[789]\d{9}$" class="form-control" name="employee_mobile"
                   id="employee_mobile" placeholder="">
          </div>
          <div class="form-group">
            <label for="employee_pin">PIN*</label>
            <input type="text" maxlength="4" pattern="^\d{4}$" class="form-control" name="employee_pin"
                   id="employee_pin" placeholder="" required>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" name="submit" value="add_employee">
              ADD
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
<script>
    $(function () {
        plotEmployeesChart('F', "{% url 'dashboard:b2b_charts_feedback_takers' 'F' 'D' 0 30 %}");
    })
</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock javascript %}
