{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Customers" %}{% endblock title %}

{% block content %} {% load staticfiles i18n compress %}
{% if feedbackers|length == 0 %}
<div class="flex-container">
  <div class="text-xl font-alt text-light">No Customers Yet!</div>
</div>
{% else %}
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addCustomerModal">
    <i class="fa fa-plus"></i> ADD CUSTOMER
  </div>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#uploadCustomerModal">
    <i class="fa fa-cloud-upload"></i> UPLOAD CUSTOMERS DATA
  </div>
</div>
<div class="clearfix"></div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">CUSTOMERS</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
          <th>NAME</th>
          <th>MOBILE</th>
          <th>EMAIL</th>
          <th>DATE OF BIRTH</th>
          <th>DATE OF ANNIVERSARY</th>
          <th>LOYALTY POINTS</th>
          <th>CONTROLS</th>
          </thead>
          <tbody>
          {% for feedbacker in feedbackers %}
          <tr>
            <td><a href="{% url 'dashboard:b2b_feedbacker' feedbacker.0.pk %}">{{feedbacker.0.get_full_name}}</a></td>
            <td>{{feedbacker.0.mobile}}</td>
            <td>{{feedbacker.0.email}}</td>
            <td>{{feedbacker.0.dob}}</td>
            <td>{{feedbacker.0.anni}}</td>
            <td>{{feedbacker.1}}</td>
            <td>
              <form method="POST" action="{% url 'dashboard:b2b_feedback_request' %}" class="form-hori">
                {% csrf_token %}
                <input type="hidden" name="mobile" value="{{feedbacker.0.mobile}}" required>
                <button class="btn btn-primary btn-xs" type="submit" name="submit" value="ASK FEEDBACK">
                  <i class="fa fa-star-half-o"></i> ASK FEEDBACK
                </button>
              </form>
              {% if feedbacker.1 > 0 %}
              <form method="POST" action="{% url 'dashboard:b2b_loyalty' %}" class="form-hori">
                {% csrf_token %}
                <input type="hidden" name="customer" value="{{feedbacker.0.pk}}" required>
                <button class="btn btn-complete btn-xs" type="submit" name="submit" value="customer_claim">
                  <i class="fa fa-trophy"></i> CLAIM
                </button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addCustomerModalLabel">ADD CUSTOMER</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">{% csrf_token %}
          <div class="form-group">
            <label for="store">STORE*</label>
            <select name="store" id="store" class="form-control" required>
              {% for store in stores %}
              <option value="{{store.pk}}">{{store.name}}</option>
              {% endfor %}
            </select>
          </div>
          {{ form|crispy }}
          <div class="text-center">
            <button type="submit" class="save btn btn-primary" name="submit" value="add_customer">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadCustomerModal" tabindex="-1" role="dialog" aria-labelledby="uploadCustomerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="uploadCustomerModalLabel">UPLOAD CUSTOMERS DATA</h4>
        <div class="text-center">
          <a href="{% static 'docs/customer_sample.csv' %}" class="btn btn-primary">DOWNLOAD SAMPLE CSV FILE</a>
        </div>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
          <div class="form-group">
            <label for="store">STORE*</label>
            <select name="store" id="store" class="form-control" required>
              {% for store in stores %}
              <option value="{{store.pk}}">{{store.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="file">FILE*</label>
            <input type="file" name="file" id="file" class="form-control">
          </div>
          <div class="text-center">
            <button type="submit" class="save btn btn-primary" name="submit" value="upload_customer">UPLOAD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock javascript %}
