{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Employee" %}{% endblock title %}

{% block content %} {% load staticfiles i18n compress %}
<div class="container">
  <div class="text-center">
    <div class="h1">{{feedback_taker}}</div>
    <div class="h3"><i class="fa fa-home"></i> {{feedback_taker.store}}</div>
    <div class="h3"><i class="fa fa-lock"></i> {{feedback_taker.pin}}</div>
    <div class="h3"><i class="fa fa-phone"></i> {{feedback_taker.mobile}}</div>
    <div class="h3"><i class="fa fa-envelope"></i> {{feedback_taker.email}}</div>
    {% if feedback_taker.address %}
    <div class="h3"><i class="fa fa-home"></i> {{feedback_taker.address|linebreaks}}</div>
    {% endif %}
  </div>
  <div class="tile ht6 no-padding">
    <div class="content" id="chart1Heading">
      <div class="col-xs-12">
        <div class="h3 tile-heading">{{feedback_taker}} Performance</div>
        <button class="chart-toggle btn btn-default" data-chart='S'
                data-url="{% url 'dashboard:b2b_charts_feedback_taker' feedback_taker.pk 'S' 'M' 0 12 %}"
                data-start="0" data-delta="30">YEAR
        </button>
        <button class="chart-toggle btn btn-primary" data-chart='S'
                data-url="{% url 'dashboard:b2b_charts_feedback_taker' feedback_taker.pk 'S' 'D' 0 30 %}"
                data-start="0" data-delta="30">MONTH
        </button>
        <button class="chart-toggle btn btn-default" data-chart='S'
                data-url="{% url 'dashboard:b2b_charts_feedback_taker' feedback_taker.pk 'S' 'D' 0 7 %}"
                data-start="0" data-delta="30">WEEK
        </button>
        <button class="chart-toggle btn btn-default" data-chart='S'
                data-url="{% url 'dashboard:b2b_charts_feedback_taker' feedback_taker.pk 'S' 'H' 0 24 %}"
                data-start="0" data-delta="30">DAY
        </button>
      </div>
    </div>
    <div class="col-xs-12">
      <div id="chart1">
      </div>
    </div>
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">Feedbacks Taken by {{feedback_taker}}</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <th>CUSTOMER</th>
          <th>CF RETENTION SCORE</th>
          <th>CF SATISFACTION SCORE</th>
          <th>COMMENT</th>
          <th>TIMESTAMP</th>
          </thead>
          <tbody>
          {% for feedback in feedbacks %}
          <tr>
            <td><a href="{% url 'dashboard:b2b_feedbacker' feedback.feedbacker.pk %}">{{feedback.feedbacker}}</a></td>
            <td>{{feedback.nps}}</td>
            <td>{{feedback.get_score}}</td>
            <td>{{feedback.comment}}</td>
            <td>{{feedback.timestamp}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $(function () {
        plotChart('S', "{% url 'dashboard:b2b_charts_feedback_taker' feedback_taker.pk 'S' 'D' 0 30 %}");
    })
</script>
{% endblock javascript %}
