{% extends "base.html" %}

{% load staticfiles i18n compress %}

{% block title %}{% trans "Feedbacks" %}{% endblock title %}

{% block content %}
{% if feedbacks|length == 0 %}
<div class="flex-container">
  <div class="text-xl font-alt text-light">No Feedbacks Yet!</div>
</div>
{% else %}
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">FEEDBACKS</div>
        <p><div class="label label-premium"><div class="fa fa-star"></div> PREMIUM</div>Data older than two months is accessible to premium users only.</p>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
            <th>TIMESTAMP</th>
            <th>STORE</th>
            <th>ID</th>
            <th>FEEDBACK FORM</th>
            <th>TYPE</th>
            <th>EMPLOYEE</th>
            <th>CUSTOMER</th>
            <th>CF RETENTION SCORE</th>
            <th>CF SATISFACTION SCORE</th>
            <th>LATEST COMMENT</th>
            <th>TABLE</th>
            <th>BILL</th>
            <th>AMOUNT</th>
            <th>REMARKS</th>
            <th>DETAIL</th>
          </thead>
          <tbody>
          {% for feedback in feedbacks %}
          <tr>
            <td><span style="display:none;">{{ feedback.timestamp|date:"Y-m-d" }}{{ feedback.timestamp|time:"H:i" }}</span>{{feedback.timestamp}}</td>
            <td>{{feedback.feedback_form.store}}</td>
            <td>{{feedback}}</td>
            <td><a href="{% url 'dashboard:b2b_feedback_forms' %}">{{feedback.feedback_form}}</a></td>
            <td>{{feedback.get_type_display}}</td>
            <td>
              {% if feedback.feedback_taker%}
              <a href="{% url 'dashboard:b2b_feedback_taker' feedback.feedback_taker.pk %}">
                {{feedback.feedback_taker|title}}
              </a>
              {% endif %}
            </td>
            <td><a href="{% url 'dashboard:b2b_feedbacker' feedback.feedbacker.pk %}">{{feedback.feedbacker|title}}</a>
            </td>
            <td>{{feedback.nps}}</td>
            <td>{{feedback.get_score}}</td>
            <td>{{feedback.comment|linebreaks}}</td>
            <td>{{feedback.table}}</td>
            <td>{{feedback.bill}}</td>
            <td>{{feedback.amount}}</td>
            <td>{{feedback.remarks}}</td>
            <td><a class="btn btn-primary btn-sm" href="{% url 'dashboard:b2b_feedback' feedback.pk %}">VIEW</a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock javascript %}
