{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Customer" %}{% endblock title %}

{% block content %} {% load staticfiles i18n compress %}
<div class="container">
  <div class="text-center">
    <div class="h1">{{feedbacker}}</div>
    <div class="h3"><i class="fa fa-phone"></i> {{feedbacker.mobile}}</div>
    <div class="h3"><i class="fa fa-envelope"></i> {{feedbacker.email}}</div>
    {% if feedbacker.address %}
    <div class="h3"><i class="fa fa-home"></i> {{feedbacker.address|linebreaks}}</div>
    {% endif %}
    {% if feedbacker.dob %}
    <div class="h3"><i class="fa fa-birthday-cake"></i> {{feedbacker.dob}}</div>
    {% endif %}
    {% if feedbacker.dob %}
    <div class="h3"><i class="fa fa-venus-mars"></i> {{feedbacker.anni}}</div>
    {% endif %}
  </div>
  <hr>
  {% if feedbacks.count > 0 %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <th>STORE</th>
          <th>FEEDBACK FORM</th>
          <th>EMPLOYEE</th>
          <th>CF RETENTION SCORE</th>
          <th>CF SATISFACTION SCORE</th>
          <th>COMMENT</th>
          <th>TIMESTAMP</th>
          </thead>
          <tbody>
          {% for feedback in feedbacks %}
          <tr>
            <td>{{feedback.feedback_form.store}}</td>
            <td><a href="{% url 'dashboard:b2b_feedback_forms'%}">{{feedback.feedback_form}}</a></td>
            <td>
              {% if feedback.feedback_taker %}
              <a href="{% url 'dashboard:b2b_feedback_taker' feedback.feedback_taker.pk %}">
                {{feedback.feedback_taker}}
              </a>
              {% endif %}
            </td>
            <td>{{feedback.nps}}</td>
            <td>{{feedback.get_score}}</td>
            <td>{{feedback.comment}}</td>
            <td>{{feedback.timestamp}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% else %}
  <div class="text-center">
    <div class="h1">No feedbacks yet!</div>
  </div>
  {% endif %}
</div>
{% endblock content %}
