{% extends "base.html" %}

{% load staticfiles i18n compress crispy_forms_tags %}

{% block title %}{% trans "Feedback" %}{% endblock title %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center">{% trans "Edit" %} {{title}}</h1>
    </div>
    <div class="panel-body">
      <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <button type="submit" class="save btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
