{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
{% if feedbacker_points %}
<div class="col-xs-12">
  <br>
  <div class="h3 text-center">
    For {{feedbacker_points.feedbacker.get_full_name}} with {{feedbacker_points.points}} points
  </div>
</div>
{% else %}
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addProductModal">
    <i class="fa fa-plus"></i> ADD PRODUCT
  </div>
</div>
{% endif %}
<div class="clearfix"></div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">PRODUCTS</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
          <tr>
            <th>STORE</th>
            <th>NAME</th>
            <th>POINTS</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>VALIDITY</th>
            {% if feedbacker_points %}
            <th>CLAIM</th>
            {% else %}
            <th>ACTIVE</th>
            <th>CONTROLS</th>
            {% endif %}
          </tr>
          </thead>
          <tbody>
          {% for store_product_points in store_products_points %}
          <tr>
            <td>{{store_product_points.store_product.store.name}}</td>
            <td>{{store_product_points.store_product.name}}</td>
            <th>{{store_product_points.points}}</th>
            <td><i class="fa fa-inr"></i>{{store_product_points.store_product.price}}/-</td>
            <td>{{store_product_points.store_product.quantity}}</td>
            <td>{{store_product_points.store_product.validity}}</td>
            {% if feedbacker_points %}
            <td>
              {% if store_product_points.active %}
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="store" value="{{store_product_points.pk}}">
                <input type="hidden" name="customer" value="{{feedbacker_points.pk}}">
                <button title="Claim" class="btn btn-primary btn-xs" type="submit" name="submit" value="claim">
                  <i class="fa fa-trophy"></i> CLAIM
                </button>
              </form>
              {% endif %}
            </td>
            {% else %}
            <td>
              {% if store_product_points.active %}
              <form action="{% url 'dashboard:b2b_activate' %}?from={{request.path}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="store_product_points">
                <input type="hidden" name="pk" value="{{store_product_points.pk}}">
                <input class="btn btn-danger btn-xs" type="submit" name="submit" value="DEACTIVATE">
              </form>
              {% else %}
              <form action="{% url 'dashboard:b2b_activate' %}?from={{request.path}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="store_product_points">
                <input type="hidden" name="pk" value="{{store_product_points.pk}}">
                <input class="btn btn-success btn-xs" type="submit" name="submit" value="ACTIVATE">
              </form>
              {% endif %}
            </td>
            <td>
              <a
                href="{% url 'dashboard:b2b_edit' 'store-product' store_product_points.store_product.pk %}?from={{request.path}}"
                title="Edit" class="btn btn-info btn-xs">
                <i class="fa fa-edit"></i>
              </a>
              <a
                href="{% url 'dashboard:b2b_edit' 'store-product-points' store_product_points.pk %}?from={{request.path}}"
                title="Edit" class="btn btn-info btn-xs">
                <i class="fa fa-edit"></i> CHANGE POINTS
              </a>
              <form action="{% url 'dashboard:b2b_delete' %}?from={{request.path}}" method="POST" class="form-hori">
                {% csrf_token %}
                <input type="hidden" name="type" value="store_product_points">
                <input type="hidden" name="pk" value="{{store_product_points.pk}}">
                <button title="Delete" class="btn btn-danger btn-xs" type="submit" name="submit">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addProductModalLabel">ADD PRODUCT</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ form|crispy }}
          <div class="form-group">
            <label for="points">POINTS*</label>
            <input type="number" class="form-control" name="points" id="points" placeholder="" required min="0">
          </div>
          <div class="text-center">
            <button type="submit" class="save btn btn-primary" name="submit" value="add_product">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock javascript %}

