{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">ITEMS SELECTED</div>
      </div>
    </div>
    <div class="panel-body">
      {% if cart_products|length > 0 %}
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
          </tr>
          </thead>
          <tbody>
          {% for cart_product in cart_products %}
          <tr>
            <td>{{cart_product.0}}</td>
            <td><i class="fa fa-inr"></i>{{cart_product.0.price}}/-</td>
            <td>{{cart_product.1}}</td>
            <td><i class="fa fa-inr"></i>{{cart_product.2}}/-</td>
          </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <th>
              <div class="h4">TOTAL</div>
            </th>
            <th>
              <div class="h4"></div>
            </th>
            <th>
              <div class="h4">{{total_quantity}}</div>
            </th>
            <th>
              <div class="h4">
                <div class="fa fa-inr"></div>
                {{total_price}}/-
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>
      {% else %}
      <div class="h3 text-center">
        Cart is empty!
      </div>
      {% endif %}
    </div>
    {% if cart_products|length > 0 %}
    <div class="panel-footer">
      <form method="POST">{% csrf_token %}
        <div class="form-group">
          <label for="credit_balance">STORE*</label>
          <select name="credit_balance" id="credit_balance" class="form-control" required>
            {% for credit_balance in credit_balances %}
            <option value="{{credit_balance.pk}}">{{credit_balance}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="text-center">
          <button type="submit" name="submit" value="buy" class="btn btn-primary">BUY</button>
        </div>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock javascript %}

