{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addTemplateModal">
    <i class="fa fa-plus"></i> CART
    <div class="badge badge-default">{{cart_products|length}}</div>
  </div>
  <div class="pull-right">
    <a href="{% url 'dashboard:b2b_orders' %}" class="btn btn-primary btn-lg">
      MY ORDERS
    </a>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">MARKET</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
          <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>VALIDITY</th>
            <th>CONTROLS</th>
          </tr>
          </thead>
          <tbody>
          {% for product in products %}
          <tr>
            <td>{{product.name}}</td>
            <td><i class="fa fa-inr"></i>{{product.price}}/-</td>
            <td>{{product.validity}}</td>
            <td>
              <div class="row">
                <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="product" value="{{product.pk}}">
                  <input type="number" name="quantity" id="quantity" placeholder="" required min="0" value="0">
                  <button class="btn btn-primary btn-xs add" type="submit" name="submit" value="add_to_cart">
                    <div class="fa fa-plus"></div>
                    ADD TO CART
                  </button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addTemplateModal" tabindex="-1" role="dialog" aria-labelledby="addTemplateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addTemplateModalLabel">CART</h4>
      </div>
      <div class="modal-body">
        {% if cart_products|length > 0 %}
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>NAME</th>
              <th>PRICE</th>
              <th>QUANTITY</th>
              <th>TOTAL</th>
              <th>CONTROLS</th>
            </tr>
            </thead>
            <tbody>
            {% for cart_product in cart_products %}
            <tr>
              <td>{{cart_product.0}}</td>
              <td><i class="fa fa-inr"></i>{{cart_product.0.price}}/-</td>
              <td>{{cart_product.1}}</td>
              <td><i class="fa fa-inr"></i>{{cart_product.2}}/-</td>
              <td>
                <form method="POST">{% csrf_token %}
                  <input type="hidden" name="product" value="{{cart_product.0.pk}}">
                  <button type="submit" name="submit" value="remove_from_cart" class="btn btn-danger btn-xs">
                    <span class="fa fa-trash"></span>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th>TOTAL</th>
              <th></th>
              <th>{{total_quantity}}</th>
              <th><i class="fa fa-inr"></i>{{total_price}}/-</th>
              <th></th>
            </tr>
            </tfoot>
          </table>
        </div>
        {% else %}
        <div class="h3 text-center">
          Cart is empty!
        </div>
        {% endif %}
      </div>
      {% if cart_products|length > 0 %}
      <div class="modal-footer">
        <form method="POST" action="{% url 'dashboard:b2b_market_checkout' %}">{% csrf_token %}
          <div class="text-center">
            <button type="submit" name="submit" value="checkout" class="btn btn-primary">CHECKOUT</button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock javascript %}

