{% extends "base.html" %}

{% load staticfiles i18n compress %}

{% block title %}{% trans "Feedbacks" %}{% endblock title %}

{% block content %}
{% if orders|length == 0 %}
<div class="flex-container">
  <div class="text-xl font-alt text-light">No Orders Yet!</div>
</div>
{% else %}
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">MY ORDERS</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
          <th>TIMESTAMP</th>
          <th>ID</th>
          <th>AMOUNT</th>
          </thead>
          <tbody>
          {% for order in orders %}
          <tr>
            <td><span style="display: none;">{{ order.created|date:"Y-m-d" }}</span>{{order.created}}</td>
            <td><a href="{% url 'dashboard:b2b_order' order.pk %}">{{order.pk}}</a></td>
            <td><i class="fa fa-inr"></i>{{order.amount}}/-</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock javascript %}
