{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Order" %}{% endblock title %}

{% block content %} {% load staticfiles i18n compress %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="h3">ID: {{order.pk}}</div>
      <div class="h3">AMOUNT: <i class="fa fa-inr"></i>{{order.amount}}/-</div>
      <div class="h3">AMOUNT PAYED: <i class="fa fa-inr"></i>{{order.amount_payed}}/-</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="h3">
        <div class="text-center">
          PRODUCTS
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
          </tr>
          </thead>
          <tbody>
          {% for product in products %}
          <tr>
            <td>{{product.0.product.name}}</td>
            <td><i class="fa fa-inr"></i>{{product.0.product.price}}/-</td>
            <td>{{product.0.quantity}}</td>
            <td><i class="fa fa-inr"></i>{{product.1}}/-</td>
          </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><i class="fa fa-inr"></i>{{total_price}}/-</th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
