{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="col-xs-12">
  <div class="tile ht1 no-padding">
    <div class="content col-xs-12">
      <div class="h3 tile-heading">Pomotional SMS</div>
      <button class="chart-sms-toggle btn btn-default" data-chart='P'
              data-url="{% url 'dashboard:b2b_charts_sms' 'P' 'M' 0 12 %}"
              data-start="0" data-delta="30">YEAR
      </button>
      <button class="chart-sms-toggle btn btn-primary" data-chart='P'
              data-url="{% url 'dashboard:b2b_charts_sms' 'P' 'D' 0 30 %}"
              data-start="0" data-delta="30">MONTH
      </button>
      <button class="chart-sms-toggle btn btn-default" data-chart='P'
              data-url="{% url 'dashboard:b2b_charts_sms' 'P' 'D' 0 7 %}"
              data-start="0" data-delta="30">WEEK
      </button>
      <button class="chart-sms-toggle btn btn-default" data-chart='P'
              data-url="{% url 'dashboard:b2b_charts_sms' 'P' 'H' 0 24 %}"
              data-start="0" data-delta="30">DAY
      </button>
    </div>
    <div class="col-xs-12">
      <div id="multiStoreChart" style="min-height:300px">
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 text-center">
  <div class="h3">SMS Balance</div>
  <ul class="list-unstyled list-inline">
    {% for sms_balance in sms_balances %}
    <li>
      <div class="h1">{{sms_balance.balance}}</div>
      <div class="h4">{{sms_balance.store}}</div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="col-xs-12">
  <br>
  <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addTemplateModal">
    <i class="fa fa-plus"></i> ADD TEMPLATE
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h1">SMS TEMPLATES</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
          <tr>
            <th>STORE</th>
            <th>TITLE</th>
            <th>MESSAGE</th>
            <th>ACTIVE</th>
            <th>CONTROLS</th>
          </tr>
          </thead>
          <tbody>
          {% for sms_template in sms_templates %}
          <tr>
            <td>{{sms_template.store}}</td>
            <td>{{sms_template.title}}</td>
            <td>{{sms_template.message}}</td>
            <td>
              {% if sms_template.active %}
              <form action="{% url 'dashboard:b2b_activate' %}?from={{request.path}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="sms_template">
                <input type="hidden" name="pk" value="{{sms_template.pk}}">
                <input class="btn btn-danger btn-xs" type="submit" name="submit" value="DEACTIVATE">
              </form>
              {% else %}
              <form action="{% url 'dashboard:b2b_activate' %}?from={{request.path}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="sms_template">
                <input type="hidden" name="pk" value="{{sms_template.pk}}">
                <input class="btn btn-success btn-xs" type="submit" name="submit" value="ACTIVATE">
              </form>
              {% endif %}
            </td>
            <td>
              {% if sms_template.active %}
              <a href="{% url 'dashboard:b2b_promotions_sms_feedbackers' sms_template.pk %}"
                 class="btn btn-primary btn-xs"><i class="fa fa-mobile"></i> SEND</a>
              {% endif %}
              <a href="{% url 'dashboard:b2b_edit' 'sms-template' sms_template.pk %}?from={{request.path}}" title="Edit"
                 class="btn btn-info btn-xs">
                <i class="fa fa-edit"></i>
              </a>
              <form action="{% url 'dashboard:b2b_delete' %}?from={{request.path}}" method="POST" class="form-hori">
                {% csrf_token %}
                <input type="hidden" name="type" value="sms_template">
                <input type="hidden" name="pk" value="{{sms_template.pk}}">
                <button title="Delete" class="btn btn-danger btn-xs" type="submit" name="submit">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addTemplateModal" tabindex="-1" role="dialog" aria-labelledby="addTemplateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addTemplateModalLabel">ADD QUESTION</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
            <button type="submit" name="submit" value="add_template" class="btn btn-primary">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
<script>
    $(function () {
        plotSMSChart('P', "{% url 'dashboard:b2b_charts_sms' 'P' 'D' 0 30 %}");
    })

</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
{% endblock javascript %}

