{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <div class="h3">{{sms_balance.store}} SMS Balance</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-6 col-md-offset-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
            <tr>
              <th>BALANCE</th>
              <td id="smsBalance">{{sms_balance.balance}}</td>
            </tr>
            <tr>
              <th>SELECTED</th>
              <td id="smsSelected">0</td>
            </tr>
            <tr>
              <th>LEFT</th>
              <td id="smsLeft">{{sms_balance.balance}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<form method="POST">
  {% csrf_token %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="message">MESSAGE*</label>
          <textarea class="form-control" name="message" id="message" cols="30" rows="10" required>
          {{sms_template.message}}
        </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center">
          <div class="h1">CUSTOMERS</div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table" id="table">
            <thead>
            <tr>
              <th rowspan="2"><input type="checkbox" id="checkAll" title="Select All"> SELECT</th>
              <th rowspan="2">NAME</th>
              <th rowspan="2">NO. OF FEEDBACKS</th>
              <th rowspan="1" colspan="4">LATEST FEEDBACK</th>
            </tr>
            <tr>
              <th>CF RETENTION SCORE</th>
              <th>CF SATISFACTION SCORE</th>
              <th>COMMENT</th>
              <th>TIMESTAMP</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in data %}
            <tr>
              <td><input type="checkbox" name="customer" class="customer" value="{{obj.0.pk}}"></td>
              <td>{{obj.0.get_full_name}}</td>
              <td>{{obj.1.get_nb_feedbacks}}</td>
              <th>
                <div
                  class="label {% if obj.1.latest_feedback.get_cf_retention_score > 0 %}label-success{% else %}label-danger{%endif%}">
                  {{obj.1.latest_feedback.get_cf_retention_score}}
                </div>
              </th>
              <th>
                <div
                  class="label {% if obj.1.latest_feedback.get_score > 2 %}label-success{% else %}label-danger{%endif%}">
                  {{obj.1.latest_feedback.get_score}}
                </div>
              </th>
              <th>{{obj.1.latest_feedback.comment}}</th>
              <th><span style="display: none;">{{ obj.1.latest_feedback.timestamp|date:"Y-m-d" }}</span>{{obj.1.latest_feedback.timestamp}}
              </th>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <input type="submit" class="btn btn-primary" value="SEND" name="submit" id="send" disabled>
  </div>
  <hr>
</form>
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
<script>
$("#checkAll").change(function () {
  $("input:checkbox").prop('checked', $(this).prop("checked"));
});
$("input:checkbox").change(function () {
  var balance = {{sms_balance.balance}};
  var selected = $('.customer:checkbox:checked').length;
  var left = parseInt(balance) - selected;
  $('#smsSelected').html(selected);
  $('#smsLeft').html(left);
  if(left < 0 ){
    $('#smsLeft').css('color', 'red');
    $('#send').prop('disabled', true);
  }else{
    $('#smsLeft').css('color', 'black');
    $('#send').prop('disabled', false);
  }
});







</script>
{% endblock javascript %}

