{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CustoFeed | Customer Feedback Analytics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
    @import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
    * {
      font-family: 'Lato', sans-serif;
    }
    html, body{
      overflow hidden;
      height:100%;
    }
    body{
      text-align: center;
      color: #626262;
      background: #F8F8F8;
     }
     .img-wrapper{
      margin: 2em;
     }
    .img{
      height: 50%;
      width:auto;
    }
    h1{
      font-size: 15vh;
      line-height:0;
      font-weight:300;
    }
    h4{
      font-size: 5vh;
      line-height:0;
      font-weight:300;
    }
    a.button{
      background-color: #3C93CE;
      color:white;
      text-decoration:none;
      border:0;
      box-shadow:none;
      padding: 1em 1.5em;
      font-size: 1em;
      transition: background-color 0.25s;
      display: block;
      margin: 1em auto;
      color:white;
      text-decoration: none;
      display:inline-block;
    }
    a.button:hover{
      background-color: #2B6A94;
      cursor: pointer;
    }
    small a{
      color: rgba(0,0,0,0.2);
      text-decoration: none;
      font-size: 10px;
      display: block;
      margin: 0 auto;
    }
    .container{
      text-align:center;
    }
  </style>
</head>

<body>
<div class="container">
  <h4>Account not verified!</h4>
  <h5>Contact our CustoFeed agent or mail us on <a href="mailto:care@custofeed.com?subject=[Account Activation] ">care@custofeed.com</a>
  </h5>
  <div class="img-wrapper">
    <img class="img" src="{% static 'images/dashboard/email.png' %}" alt="CustoFeed">
    <small><a href="http://www.freepik.com/free-vector/social-media-icons_761444.htm">Designed by Freepik</a></small>
  </div>
  <a class="button" href="{% url 'home' %}">
    HOME
  </a>
</div>

</body>

</html>
