{% extends "base.html" %}
{% load static %}

{% block title %}CustoFeed{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h1 class="text-center">Referral</h1>
    </div>
    <div class="panel-body profile-panel">
      <form method="POST"> {% csrf_token %}
        <div class="text-center">
          <input class="btn btn-primary" type="submit" name="submit" value="SEND OTP">
        </div>
      </form>
      <form method="POST" action="{% url 'feedbacks:export_csv' %}"> {% csrf_token %}
        <div class="text-center">
          <input class="btn btn-primary" type="submit" name="submit" value="EXPORT">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/datedropper.min.css' %}">
<script src="{% static 'js/libs/datedropper.min.js' %}"></script>
<script>
$( "#date_start" ).dateDropper({
  "format": "Y-m-d"
});
$( "#date_end" ).dateDropper({
  "format": "Y-m-d"
});
</script>
{% endblock javascript %}

