{% extends "base.html" %} {% load i18n %} {% block title %}{% trans "Register" %}{% endblock title %} {% block sidebar %}{% endblock sidebar %} {% block content %} {% load staticfiles i18n compress %}
<div class="flex-container">
    <div class="panel central-panel">
        <div class="panel-heading text-center">
            <div class="h3">LET'S GET STARTED!</div>
        </div>
        <div class="panel-body">
            <div id="regsiterFormWizard" class="carousel slide form-wizard" data-ride="carousel" data-interval="false" data-wrap="false">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="text-center">
                            <p>Please fill the following company details</p>
                        </div>
                        <form method="POST" action="{% url 'dashboard:b2b_register' %}"> {% csrf_token %}
                            <div class="form-group">
                                <label for="company_name">COMPANY NAME*</label>
                                <input type="text" class="form-control" name="company_name" id="company_name" placeholder="" required> </div>
                            <div class="form-group">
                                <label for="company_sector">COMPANY SECTOR*</label>
                                <select name="company_sector" id="company_sector" class="form-control" required> {% for sector in sectors %}
                                    <option value="{{sector.name}}">{{sector.name}}</option> {% endfor %} </select>
                            </div>
                        </form>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <p>Add a store.</p>
                        </div>
                        <form method="POST" action="{% url 'dashboard:b2b_register' %}"> {% csrf_token %}
                            <div class="form-group">
                                <label for="store_name">STORE NAME*</label>
                                <input type="text" class="form-control" name="store_name" id="store_name" placeholder="" required> </div>
                            <div class="form-group">
                                <label for="store_email">STORE EMAIL*</label>
                                <input type="email" class="form-control" name="store_email" id="store_email" placeholder="" required> </div>
                        </form>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <p>Tell us something about yourself.</p>
                        </div>
                        <form method="POST" action="{% url 'dashboard:b2b_register' %}"> {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name">FIRST NAME*</label>
                                <input type="text" class="form-control" name="first_name" id="first_name" maxlength="255" placeholder="" required> </div>
                            <div class="form-group">
                                <label for="last_name">LAST NAME*</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" maxlength="255" placeholder="" required> </div>
                        </form>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <p>Tell us something about your work.</p>
                        </div>
                        <form method="POST" action="{% url 'dashboard:b2b_register' %}"> {% csrf_token %}
                            <div class="form-group">
                                <label for="job_title">JOB TITLE*</label>
                                <input type="text" class="form-control" name="job_title" id="job_title" placeholder="" required> </div>
                            <div class="form-group">
                                <label for="user_mobile">MOBILE*</label>
                                <input type="text" class="form-control" name="user_mobile" id="user_mobile" maxlength="10" pattern="^[789]\d{9}$" placeholder="" required> </div>
                        </form>
                    </div>
                </div>
                <!-- Controls -->
                <div class="text-center">
                    <a href="#regsiterFormWizard" role="button" data-slide="prev">
                        <button class="btn btn-default">BACK</button>
                    </a>
                    <button class="btn btn-primary formWizardNext" data-target="#regsiterFormWizard">NEXT</button>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#regsiterFormWizard" data-slide-to="0" class="active"></li>
                    <li data-target="#regsiterFormWizard" data-slide-to="1"></li>
                    <li data-target="#regsiterFormWizard" data-slide-to="2"></li>
                </ol>
                <input type="hidden" id="redirectLink" value="{% url 'dashboard:b2b_dashboard' %}"> </div>
        </div>
    </div>
</div> {% endblock content %} {% block javascript %}
<script src="{% static 'js/dashboard/validate.min.js' %}"></script> {% endblock javascript %}
