{% extends "base.html" %}

{% load staticfiles i18n compress crispy_forms_tags %}

{% block title %}{% trans "Stores" %}{% endblock title %}

{% block content %}
<div class="col-xs-12">
  <br>
  <button class="btn btn-lg btn-primary" disabled><i class="fa fa-plus"></i> ADD A STORE</button>
  <div class="label label-premium"><i class="fa fa-star"></i> PREMIUM</div>
  <small>Multiple stores feature is only available to Premium users.</small>
</div>
{% for store in stores %}
<div class="col-sm-6 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading ">
      <div class="panel-title">{{store.0}}</div>
      <div class="panel-controls">
        <ul>
          <li>
            <a href="{% url 'dashboard:b2b_store_edit' store.0.pk %}" class="btn btn-complete btn-xs">
              <i class="fa fa-pencil"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><b>MOBILE</b>: {{store.0.mobile}}</li>
        <li><b>EMAIL</b>: {{store.0.email}}</li>
        <li><b>ADDRESS</b>: {{store.0.address}}</li>
        <li><b>GEOTAG</b>: LATITUDE: {{store.0.lat}} | LONGITUDE: {{store.0.lng}}</li>
      </ul>
      <hr>
      <div class="h4 text-center">
        SOCIAL LINKS
      </div>
      {% if store.1|length > 0 %}
      <div class="table-responsive">
        <table class="table">
          <thead>
          <th>WEBSITE</th>
          <th>LINK</th>
          <th>ACTIVE</th>
          <th>CONTROLS</th>
          </thead>
          <tbody>
          {% for link in store.1 %}
          <tr>
            <td>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-{{link.website|lower}} fa-stack-1x fa-inverse"></i>
              </span>
              {{link.website}}
            </td>
            <td>{{link.link}}</td>
            <td>
              {% if link.active %}
              <form action="{% url 'dashboard:b2b_activate' %}?from={{request.path}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="social_link">
                <input type="hidden" name="pk" value="{{link.pk}}">
                <input class="btn btn-danger btn-xs" type="submit" name="submit" value="DEACTIVATE">
              </form>
              {% else %}
              <form action="{% url 'dashboard:b2b_activate' %}?from={{request.path}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="social_link">
                <input type="hidden" name="pk" value="{{link.pk}}">
                <input class="btn btn-success btn-xs" type="submit" name="submit" value="ACTIVATE">
              </form>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'dashboard:b2b_edit' 'social-link' link.pk %}?from={{request.path}}" title="Edit"
                 class="btn btn-info btn-xs">
                <i class="fa fa-edit"></i>
              </a>
              <form action="{% url 'dashboard:b2b_delete' %}?from={{request.path}}" method="POST" class="form-hori">
                {% csrf_token %}
                <input type="hidden" name="type" value="social_link">
                <input type="hidden" name="pk" value="{{link.pk}}">
                <button title="Delete" class="btn btn-danger btn-xs" type="submit" name="submit">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p class="text-center">No Links yet.</p>
      {% endif %}
      <div class="text-center">
        <button class="btn btn-primary addLink" data-toggle="modal" data-target="#addLinkModal"
                data-id="{{store.0.pk}}">
          <i class="fa fa-plus"></i> ADD LINKS
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addLinkModal" tabindex="-1" role="dialog" aria-labelledby="addLinkModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addLinkModalLabel">ADD CREDIT BALANCE</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
            <button type="submit" name="submit" value="add_social_link" class="btn btn-primary">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
<script>
  $('.addLink').click(function() {
    $('#id_store').val($(this).data('id'));
  });


</script>
{% endblock javascript %}
