{% load staticfiles i18n compress %}
<div class="coming-soon">
  <div class="content">
    <div class="h3"><div class="label label-premium"><div class="fa fa-star"></div> PREMIUM</div></div>
    <div class="text-xl font-alt text-light">Coming Soon!</div>
    <div class="h3 font-alt text-light">This feature is coming soon for premium users only.</div>
    <a href="{% url 'dashboard:b2b_dashboard' %}" class="btn btn-lg btn-primary">GO BACK TO DASHBOARD</a>
  </div>
</div>
