{% extends "base.html" %}

{% load staticfiles i18n compress %}

{% block title %}{% trans "Subscriptions" %}{% endblock title %}

{% block content %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center">{% trans "Subscriptions" %} {{title}}</h1>
    </div>
    <div class="panel-body">
      {% if subscribers.count < 2 %}
      <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addSubscriberModal">
        <i class="fa fa-plus"></i> ADD SUBSCRIBER
      </div>
      {% else %}
      <div class="btn btn-primary btn-lg" disabled>
        <i class="fa fa-plus"></i> ADD SUBSCRIBER
      </div>
      <div class="label label-premium"><div class="fa fa-star"></div> PREMIUM</div>Maximum limit exceeded.
      {% endif %}
      <form action="{% url 'dashboard:b2b_subscriptions' %}" method="POST">
        {% csrf_token %}
        <div class="table-responsive">
          <table class="table table-bordered text-center">
            <thead>
            <tr>
              <th rowspan="2" class="text-center">SUBSCRIBERS</th>
              <th rowspan="2" class="text-center">ACTIVE</th>
              <th rowspan="2" class="text-center">MOBILE</th>
              <th rowspan="2" class="text-center">EMAIL</th>
              {% for type in type_choices %}
              <th colspan="2" class="text-center">{{type.1}}</th>
              {% endfor %}
              <th rowspan="2" class="text-center">CONTROLS</th>
            </tr>
            <tr>
              {% for type in type_choices %}
              {% for medium in medium_choices %}
              <th class="text-center">{{medium.1}}</th>
              {% endfor %}
              {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for subscriber in subscribers %}
            <tr id="subscriber_{{subscriber.pk}}">
              <td>{{subscriber}}</td>
              <td>{{subscriber.active}}</td>
              <td>{{subscriber.mobile}}</td>
              <td>{{subscriber.email}}</td>
              {% for subscription in subscriptions %}
              {% if subscription.subscriber == subscriber %}
              <td>
                {% if subscription.active %}
                <input type="checkbox" name="{{subscription.pk}}" checked>
                {% else %}
                <input type="checkbox" name="{{subscription.pk}}">
                {% endif %}
              </td>
              {% endif %}
              {% endfor %}
              <td>
                <button title="DELETE" class="btn btn-danger btn-xs ajaxSubmit"
                        data-url="{% url 'dashboard:b2b_subscriptions'%}"
                        data-id="{{subscriber.pk}}" data-submit="del_subscriber"
                        data-target="#subscriber_{{subscriber.pk}}">
                  <i class="fa fa-lg fa-trash"></i>
                </button>
                <a title="EDIT" href="{% url 'dashboard:b2b_edit' 'subscriber' subscriber.pk %}"
                   class="btn btn-info btn-xs">
                  <i class="fa fa-lg fa-edit"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg" name="submit" value="edit_subscription">
            SAVE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block modal %}
{% if subscribers.count < 2 %}
<div class="modal fade" id="addSubscriberModal" tabindex="-1" role="dialog" aria-labelledby="addSubscriberModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="addSubscriberModalLabel">ADD SUBSCRIBER</h4>
      </div>
      <form action="{% url 'dashboard:b2b_subscriptions' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="subscriber_first_name">FIRST NAME*</label>
            <input type="text" maxlength="255" class="form-control" name="subscriber_first_name"
                   id="subscriber_first_name"
                   placeholder="" required>
          </div>
          <div class="form-group">
            <label for="subscriber_last_name">LAST NAME*</label>
            <input type="text" maxlength="255" class="form-control" name="subscriber_last_name"
                   id="subscriber_last_name"
                   placeholder="" required>
          </div>
          <div class="form-group">
            <label for="subscriber_mobile">MOBILE*</label>
            <input type="text" maxlength="10" pattern="^[789]\d{9}$" class="form-control" name="subscriber_mobile"
                   id="subscriber_mobile" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="subscriber_email">EMAIL*</label>
            <input type="email" class="form-control" name="subscriber_email" id="subscriber_email" placeholder=""
                   required>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" name="submit" value="add_subscriber">
              ADD
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock modal %}
