{% load staticfiles i18n compress %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}CustoFeed{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block css %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  {% compress css %}
  <!-- This file store project specific CSS -->
  <link rel="stylesheet" href="{% static 'css/dashboard/style.min.css' %}">
  {% endcompress %}
  {% endblock %}
</head>

<body>
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-body profile-panel">
      <div id="mobileWrapper">
        <form action="">
          <div class="form-group">
            <label for="user_mobile">ENTER YOUR MOBILE*</label>
            <input type="text" class="form-control" name="user_mobile" id="user_mobile" maxlength="10"
                   pattern="^[789]\d{9}$" placeholder="" required>
          </div>
          <div class="text-center">
            <button class="btn btn-primary" type="submit" name="mobile_submit">SEND OTP</button>
          </div>
        </form>
      </div>
      <div class="my-digits-container"></div>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <p>Powered by</p>
    <img src="{% static 'images/dashboard/logo.png' %}" alt="CustoFeed">
  </div>
</div>
<!-- JS FILES  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
<script>
$("form").submit(function(e){
e.preventDefault();
  $('#mobileWrapper').fadeOut(function() {
    Digits.init({ consumerKey: 'yJu4CuBFxZVmNS0Mvfxd2Wqiw' });

    Digits.embed({
      container: '.my-digits-container',
      phoneNumber: '+91'+$('#user_mobile').val()
    })
    .done(onLogin) /*handle the response*/
    .fail(onLoginFailure);
  });
});

/* Validate and log use in. */
function onLogin(loginResponse){
  // Send headers to your server and validate user by calling Digits’ API
  var oAuthHeaders = loginResponse.oauth_echo_headers;
  var verifyData = {
    csrfmiddlewaretoken: getCookie('csrftoken'),
    mobile_number: $('#user_mobile').val(),
    authHeader: oAuthHeaders['X-Verify-Credentials-Authorization'],
    apiUrl: oAuthHeaders['X-Auth-Service-Provider']
  };

  $.post('/loyalty/', verifyData)
    .done(function(data){ $('.my-digits-container').html(data.response) });
}
function onLoginFailure(loginResponse){ location.reload(); }
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



</script>
</body>

</html>

