//COLORS
$dark-grey: #26272d;
$back-grey: #f4f4f5;
$blue: #267df4;
//COMMON
* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 62px;
    line-height: 72px;
}

h2 {
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 64px;
}

h3 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    margin-bottom: 46px;
}

h4 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: 25px;
}

p.subtitle {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 28px;
    color: #8c8f94;
}

a {
    color: $blue;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

.f-w-300 {
    font-weight: 300;
}

.f-w-400 {
    font-weight: 400;
}

ul {
    padding-left: 0px;
}

ul > li {
    list-style: none;
}

.text-center {
    text-align: center;
}


/*****************************************************
*** Buttons ***
*****************************************************/

.btn {
    font-size: 16px;
    font-weight: 400;
    padding: 9px 16px;
    text-decoration: none;
    color: $dark-grey;
    border: 1px solid rgba(38, 39, 45, 0.1);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.btn:active,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-lg {
    padding: 14px 48px;
}

.btn-blue {
    background-color: $blue;
    color: white;
}

.btn-green {
    background-color: #6fc754;
    color: white;
}

.btn-dark {
    background-color: #131315;
    color: white;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-green:hover,
.btn-green:focus,
.btn-dark:hover,
.btn-dark:focus {
    color: #ffffff;
}


/*****************************************************
*** Inputs ***
*****************************************************/

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 502px;
    height: 50px;
    max-width: 100%;
    border: 1px solid rgba(38, 39, 45, 0.2);
    padding: 16px 26px;
    font-size: 16px;
    background-color: transparent;
    padding-right: 148px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    color: $dark-grey;
}


/*****************************************************
*** Forms ***
*****************************************************/

#ready-to-buy .form-group,
#subscribe .form-group {
    position: relative;
    width: 502px;
    max-width: 100%;
    margin: 0 auto;
}

#ready-to-buy .form-group .btn,
#subscribe .form-group .btn {
    position: absolute;
    top: 4px;
    right: 4px;
}


/*****************************************************
*** Others ***
*****************************************************/

.fa-heart {
    color: #B5322B;
}

.gap {
    height: 120px;
    width: 100%;
    background-color: black;
    margin-bottom: 2em;
}

//NOTIFICATIONS ============================
.noti {
    z-index: 200;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #6fc754;
    padding: 1em;
    margin: 1em;
    min-width: 10vw;
    text-align: center;
    color: white;
    border-radius: 10px;
    animation: fadeOut 2s linear 1;
    animation-fill-mode: forwards;
}

.noti-danger {
    background-color: #B5322B;
}