@import '_animate';
@import '_components';

/*****************************************************
*** Main Nav ***
*****************************************************/

#main-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 44px 0;
    font-size: 18px;
    z-index: 10;
    background-color: transparent;
    webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
    #navigation {
        display: none;
        text-decoration: none;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        z-index: 2;
        &:hover {
            color: $blue !important;
        }
    }
    ul {
        padding: 0;
        li {
            display: inline-block;
            margin-right: 40px;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: $blue;
                }
            }
            .help {
                color: rgba(38, 39, 45, 0.4);
            }
            .btn-blue {
                color: #ffffff;
                &:hover {
                    color: #ffffff;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &.left {
            text-align: left;
            margin-left: 50px;
            li {
                display: inline-block;
                padding: 9px 0;
                &:first-child {
                    margin-right: 30px;
                }
            }
        }
        &.right {
            text-align: right;
        }
    }
    .logo {
        display: inline-block;
        padding-top: 0;
    }
    #slide_out_menu {
        position: fixed;
        display: block;
        width: 380px;
        max-width: 650px;
        height: 100%;
        left: -380px;
        top: 0;
        padding: 40px;
        z-index: 50;
        background: $dark-grey;
        transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
        .menu-close {
            position: absolute;
            color: #ffffff;
            right: 20px;
            top: 52px;
        }
        ul {
            margin-top: 40px;
            li {
                display: block;
                margin: 10px 0;
                a {
                    color: #ffffff;
                    &:hover {
                        color: $blue;
                    }
                }
                .btn-blue:hover {
                    color: #ffffff;
                }
                &:last-child {
                    margin-top: 20px;
                }
            }
        }
        .slide_out_menu_footer {
            position: absolute;
            display: block;
            width: 100%;
            left: 0;
            bottom: 0;
            padding: 20px 40px 25px;
            .more-info p {
                font-size: 14px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.8);
                margin: 0;
            }
            .socials {
                margin: 18px 0 0;
            }
            li {
                display: inline-block;
                margin: 0 20px 0 0;
                a {
                    color: rgba(255, 255, 255, 0.8);
                    transition: all .2s ease-in-out;
                    &:hover {
                        color: #ffffff;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &.xs-screen {
            overflow-y: auto;
            ul {
                margin-top: 40px;
            }
            .slide_out_menu_footer {
                position: relative;
                padding: 0;
                margin-top: 40px;
                .more-info p {
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(255, 255, 255, 0.8);
                    margin: 0;
                }
                .socials {
                    margin: 18px 0 0;
                    li {
                        display: inline-block;
                        margin: 0 20px 0 0;
                        a {
                            color: rgba(255, 255, 255, 0.8);
                            transition: all .2s ease-in-out;
                            &:hover {
                                color: #ffffff;
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    #slide_out_menu.open {
        left: 0;
    }
    &.active {
        background-color: #000;
        padding: 24px 0;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    }
}


/*****************************************************
*** Header ***
*****************************************************/

#header {
    height: 100vh;
    padding: 40vh 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    h1 {
        color: #EEE;
        font-weight: lighter;
    }
    p {
        font-size: 20px;
        color: #EEE;
    }
    .video-btn {
        border-radius: 50px;
        margin-top: 48px;
        font-size: 1.5em;
        i {
            margin-right: 15px;
        }
    }
}


/*****************************************************
*** Features ***
*****************************************************/

#features {
    padding: 120px 0;
    background-color: $back-grey;
}

#features .feature {
    padding: 0px 38px;
}

#features .feature .f-icon {
    margin-bottom: 48px;
}

#features .feature .f-icon i {
    font-size: 42px;
    color: $blue;
}


/*****************************************************
*** About Us ***
*****************************************************/

#about {
    position: relative;
    padding: 100px 0 100px;
    .btns-container {
        margin-top: 62px;
        a {
            margin-right: 20px;
            margin-bottom: 18px;
            i {
                margin-left: 50px;
                font-size: 14px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .dashboard-showcase {
        position: absolute;
        bottom: 50px;
        right: 50%;
    }
}


/*****************************************************
*** Tech ***
*****************************************************/

#tech {
    padding: 120px 0 140px;
    position: relative;
    overflow: hidden;
}

#tech .partners {
    margin-top: 52px;
}

#tech .partners .title {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 12px;
}

#tech .partners ul {
    margin: 26px 0 0;
}

#tech .partners ul li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
}

#tech .partners ul li:last-child {
    margin-right: 0;
}

#tech .map-showcase {
    position: absolute;
    bottom: 110px;
    left: 50%;
}


/*****************************************************
*** iPhone Screens ***
*****************************************************/

#iphone-screens {
    padding: 140px 0 800px;
    position: relative;
    background-color: $back-grey;
    overflow: hidden;
}

#iphone-screens h2 {
    margin-bottom: 0;
}

#iphone-screens hr {
    width: 50px;
    height: 2px;
    margin: 40px auto;
    background-color: $blue;
}

#iphone-screens .images-list {
    width: 100%;
    position: relative;
}

#iphone-screens .images-list li {
    position: absolute;
    width: 320px;
    top: 92px;
    box-shadow: 10px 10px 16px 0px rgba(61, 61, 62, 0.15);
}

#iphone-screens .images-list li img {
    max-width: 100%;
}

#iphone-screens .images-list li:nth-child(1) {
    left: 50%;
    margin-left: -880px;
}

#iphone-screens .images-list li:nth-child(2) {
    left: 50%;
    margin-left: -530px;
}

#iphone-screens .images-list li:nth-child(4) {
    right: 50%;
    margin-right: -530px;
}

#iphone-screens .images-list li:nth-child(5) {
    right: 50%;
    margin-right: -880px;
}

#iphone-screens .images-list li.main-img {
    width: 395px;
    top: 0;
    left: 50%;
    margin-left: -193px;
    box-shadow: none;
}

#iphone-screens .images-list li.main-img img {
    max-width: 100%;
}


/*****************************************************
*** Buy ***
*****************************************************/

#ready-to-buy {
    padding: 120px 0 130px;
}

#ready-to-buy form {
    margin-bottom: 66px;
}

#ready-to-buy .btn i {
    font-size: 12px;
    margin-left: 18px;
}

#ready-to-buy .btn-dark {
    padding: 9px 28px;
}

#ready-to-buy .btn-dark i {
    font-size: 32px;
    display: inline-block;
    margin-left: 0;
    margin-right: 18px;
}

#ready-to-buy .btn-dark span {
    font-size: 12px;
    display: inline-block;
    text-align: left;
}

#ready-to-buy .btn-dark span b {
    font-size: 22px;
    line-height: 18px;
}


/*****************************************************
*** Subscribe ***
*****************************************************/

#subscribe {
    padding: 90px 0 50px;
    background-color: $back-grey;
}

#subscribe .btn {
    padding-left: 34px;
    padding-right: 34px;
}

#subscribe .promise {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}


/*****************************************************
*** Footer ***
*****************************************************/

#footer {
    color: #8c8f94;
    font-size: 16px;
}

#footer .footer-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

#footer .copyright-container {
    padding-top: 20px;
    padding-bottom: 25px;
}

#footer .logo {
    margin-bottom: 36px;
}

#footer p {
    font-size: 14px;
    line-height: 24px;
}

#footer .app_download img {
    margin-top: 6px;
}

#footer ul li .title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $dark-grey;
    font-size: 12px;
}

#footer ul li a {
    color: #8c8f94;
    text-decoration: none;
    line-height: 36px;
}

#footer ul li a:hover {
    color: $dark-grey;
}

#footer .socials {
    margin-top: 32px;
}

#footer .socials li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

#footer .socials li a {
    color: rgba(19, 19, 21, 0.3);
}

#footer .socials li:last-child {
    margin-right: 0;
}

#footer .more-info {
    line-height: 24px;
    font-size: 14px;
}

#footer .made-by {
    font-size: 9px;
    font-weight: 700;
    line-height: 22px;
    color: $dark-grey;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer .made-by a img {
    margin-top: -8px;
    margin-left: 8px;
}


/*****************************************************
Responsive Styles
*****************************************************/

@media only screen and (max-width: 1200px) {
    /*** Main Nav ***/
    #main-nav .col-md-4:first-child,
    #main-nav .col-md-4:last-child {
        display: none;
    }
    #main-nav .logo {
        padding-top: 0px;
    }
    #main-nav #navigation {
        display: inline-block;
    }
    #main-nav #slide_out_menu {
        position: fixed;
        display: block;
        width: 300px;
        height: 100%;
        left: -300px;
    }
    #main-nav #slide_out_menu .menu-close {
        top: 41px;
    }
    /*** Features ***/
    #features {
        padding: 100px 0;
    }
    #features .feature-item {
        margin-bottom: 80px;
    }
    #features .feature-item:last-child {
        margin-bottom: 0;
    }
    #features .feature {
        padding: 0px 0px;
    }
    #features .feature .f-icon {
        margin-bottom: 48px;
    }
    #features .feature .f-icon i {
        font-size: 42px;
        color: $blue;
    }
    /*** iPhone Feature ***/
    #about {
        padding: 80px 0 60px;
        .dashboard-showcase {
            position: relative;
            bottom: auto;
            right: auto;
            padding: 0 15px;
            margin-top: 64px;
            img {
                width: 100%;
            }
        }
    }
    /*** Tech ***/
    #tech {
        padding: 80px 0 100px;
    }
    #tech .map-showcase {
        position: relative;
        bottom: auto;
        left: auto;
        padding: 0 15px;
        margin-top: 64px;
    }
    #tech .map-showcase img {
        width: 100%;
    }
    /*** iPhone Screens ***/
    #iphone-screens {
        padding: 120px 0 620px;
    }
    #iphone-screens .images-list li {
        position: absolute;
        width: 240px;
        top: 68px;
    }
    #iphone-screens .images-list li img {
        max-width: 100%;
    }
    #iphone-screens .images-list li:nth-child(1) {
        margin-left: -680px;
    }
    #iphone-screens .images-list li:nth-child(2) {
        margin-left: -410px;
    }
    #iphone-screens .images-list li:nth-child(4) {
        margin-right: -410px;
    }
    #iphone-screens .images-list li:nth-child(5) {
        margin-right: -680px;
    }
    #iphone-screens .images-list li.main-img {
        width: 295px;
        margin-left: -148px;
    }
    /*** Footer ***/
    #footer .socials {
        margin-bottom: 60px;
    }
    #footer .footer-links {
        margin-bottom: 30px;
    }
    #footer .footer-links:last-child {
        margin-bottom: 0;
    }
    /*** Copyright Container ***/
    .copyright-container .text-right {
        text-align: left;
        margin-top: 22px;
    }
}

@media only screen and (max-width: 768px) {
    /*** iPhone Screens ***/
    #main-nav #navigation {
        display: inline-block;
    }
    #iphone-screens {
        padding: 120px 0 460px;
    }
    #iphone-screens .images-list li {
        position: absolute;
        width: 178px;
        top: 52px;
    }
    #iphone-screens .images-list li img {
        max-width: 100%;
    }
    #iphone-screens .images-list li:nth-child(1) {
        margin-left: -502px;
    }
    #iphone-screens .images-list li:nth-child(2) {
        margin-left: -304px;
    }
    #iphone-screens .images-list li:nth-child(4) {
        margin-right: -304px;
    }
    #iphone-screens .images-list li:nth-child(5) {
        margin-right: -502px;
    }
    #iphone-screens .images-list li.main-img {
        width: 220px;
        margin-left: -110px;
    }
}

@media only screen and (max-width: 575px) {
    #main-nav #navigation {
        display: inline-block;
    }
    input[type="text"],
    input[type="email"] {
        padding: 16px 26px;
    }
    /*** Header ***/
    #header {
        padding: 160px 0 460px;
        h1 {
            color: #EEE;
            font-weight: lighter;
            font-size: 2em;
            line-height: 1em;
        }
        p {
            font-size: 15px;
            color: #EEE;
        }
        .video-btn {
            border-radius: 50px;
            margin-top: 2em;
            font-size: 1em;
            padding: 1em 2em;
            i {
                margin-right: 15px;
            }
        }
    }
    /*** Ready to Buy  ***/
    #ready-to-buy .form-group .btn,
    #subscribe .form-group .btn {
        position: relative;
        margin-top: 14px;
    }
    /*** Footer ***/
    #footer .footer-container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    #footer .footer-links {
        width: 100%;
    }
}


/*# sourceMappingURL=style.css.map */