{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">{% trans "Sign In" %}</h1>
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
  </div>

  <div class="panel-body">

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers list-unstyled">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <p class="login-or text-center">{% trans 'or' %}</p>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% if staff %}{% url 'staff:staff_login' %}{% else %}{% url 'account_login' %}{% endif %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <div class="clearfix"></div>
      <div class="text-center">
        <button class="primaryAction btn btn-lg btn-primary" type="submit">{% trans "Sign In" %}</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

