{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
<div class="flex-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>{% trans "Change Password" %}</h1>
    </div>
    <div class="panel-body">
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <button class="btn btn-primary btn-lg" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

